{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Economics Question Paper - November 2018</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>Differentiate between "economic resources" and "non economic resources".	(1 mark)</p>
            <p>(b)</p>
            <ol>
                <li>Explain the term "consumer sovereignty" as used in economics.	(1 mark)</li>
                <li>Outline eight factors that hinder consumers' sovereignty.	(8 marks)</li>
            </ol>
            <p>c) Enumerate five factors that determine the price elasticity of demand of a commodity.	(5 marks)</p>
            <p>d) Highlight five barriers to occupational mobility of labour.	(5 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a) With the aid of an appropriate diagram, explain the concept of "shortage" as used in market equilibrium.	(4 marks)</p>
            <p>(b)	Discuss seven effects of price decontrol in an economy.	(7 marks)</p>
            <p>c) The demand and supply functions of commodities x and y are given as:</p>
            <ul>
                <li>Qdx = 4 — Px + 0.5 Py</li>
                <li>Qdy = 10 + Px — Py Qsx = -3 + 4Px Qsy — -18 + 4Py</li>
            </ul>
            <p>Where: Qdx is the quantity demanded of x in thousands of units.</p>
            <p>Qdy is the quantity demanded of y in thousands of units. </p>
            <p>Qsx is the quantity supplied of x in thousands of units.</p>
            <p>Qsy is the quantity supplied of y in thousands of units. </p>
            <p>Px is the price of x in thousands of shillings.</p>
            <p>Py is the price of y in thousands of shillings.</p>
            <p><strong>Required:</strong></p>
            <ol>
                <li>The equilibrium price and quantity of commodity x.</li>
                <li>The equilibrium price and quantity of commodity y.</li>
                <li>(iii)	Explain the nature of relationship between commodity x and commodity y.</li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Summarise six characteristics of capital as a factor of production.	(6 marks)</p>
            <p>(b)	Examine six applications of indifference curve analysis in an economy.	(6 marks)</p>
            <p>(c)	Discuss four cases advanced by trade unions for increase in the wages of their members.		(8 marks)  </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	Highlight five characteristics of a mixed economic system.	(5 marks)</p>
            <p>(b)	State four advantages and four disadvantages of a monopoly market structure in an economy.	(8 marks)</p>
            <p>(c)	The marginal propensity to save of a certain hypothetical economy is given as 0.25.</p>
            <p><strong>Required:</strong></p>
            <p>The change in the equilibrium level of national income, if the level of investments for the economy increases by Sh.300 million.	(3 marks)</p>
            <p>(d)	A firm operating under a monopoly market structure has the following demand and cost functions:</p>
            <ol>
                <li>P = 140 - 2Q </li>
                <li>TC = 10 + 5Q<sup>2</sup></li>
            </ol>
            <p>Where:</p>
            <p>P is the price in thousands of shillings.</p>
            <p>Q is the quantity of output in thousands of units. </p>
            <p>TC is the total cost in thousands of shillings.</p>
            <p><strong>Required:</strong></p>
            <p>The maximum level of profit of the firm. (4 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>a) Explain five negative effects of a contractionary monetary policy in an economy.</p>
            <p>(b)	Outline five limitations of adopting export promotion strategy in developing countries.</p>
            <p>(c)	Using appropriate diagrams, analyse the following levels of output of a monopolist firm in the short-run period:</p>
            <ol>
                <li>The profit maximising level of output.	(5 marks)</li>
                <li>The loss making level of output.	(5 marks)</li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	Suggest six measures that developing countries could adopt to curb against high levels of urban unemployment. (6 marks)</p>
            <p>(b)	Examine seven determinants of the level of national income of a country. (4 marks)</p>
            <p>(c)	Discuss seven disadvantages of adopting an import substitution strategy to control unfavourable balanp,payments in a developing country.(7 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  

        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)</p>
            <ol>
                <li>Explain the term "hyperinflation" as used in economics. (1 mark)</li>
                <li>With the help of a diagram, describe demand pull inflation. (4 mark)</li>
                <li>Highlight three causes of demand pull inflation in an economy. (3 mark)</li>
            </ol>
            <p>b) Analyse six obstacles to industrial development in developing countries.	(6 marks)</p>
            <p>(c)	The data provided below represent economic transactions for a hypothetical country in billions of shillings:</p>
            <table >
                <tr>
                    <th></th>
                    <th>Total output</th>
                    <th>Intermediate purchases</th>
                </tr>
                <tr>
                    <td>Agricultural sector</td>
                    <td>55,000</td>
                    <td>24,000</td>
                </tr>
                <tr>
                    <td>Manufacturing sector</td>
                    <td>96,000</td>
                    <td>63,000</td>
                </tr>
                <tr>
                    <td>Service sector</td>
                    <td>71,000</td>
                    <td>42,0000</td>
                </tr>
            </table>
            <p>The indirect taxes and fixed assets depreciation amount to Sh.22,000 billion and Sh.26,000 billion respectively.</p>
            <p><strong>Required:</strong></p>
            <ol>
                <li>The Gross National Product using the value added approach (2 marks)</li>
                <li>Net Domestic Product ats market price (2 marks)</li>
                <li>Net Domestic Product at factor cost (2 marks)</li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
    </div>
    <div></div>
</div>

{% endblock content %}