{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Economics Question Paper - May 2019</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)</p>
            <ol>
                <li>Explain the Keynesian liquidity preference theory of demand for money. (1 marks)</li>
                <li>Outline five criticisms of the theory in (a) (i) above.</li>
            </ol>
            <p>(b)</p>
            <ol>
                <li>Distinguish between "perfect oligopoly" and "imperfect oligopoly".</li>
                <li>Describe three methods used in fixing prices under the oligopoly market.structure.</li>
            </ol>
            <p>(c)	Highlight six factors that might lead to a rightward shift of the optimal point of a firm.eK marks</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)</p>
            <ol>
                <li>Enumerate five characteristics of a free market economic system. (5 marks)</li>
                <li>State five advantages of a free market economic system. (5 marks)</li>
            </ol>
            <p>(b)	Summarise five factors that could lead to a leftward shift of the supply curve of a commodity.	(5 marks)</p>
            <p>(c)	The demand and average cost functions of a hypothetical firm are represented by the following functions (in thousands):</p>
            <ul>
                <li>P = 50 — Q</li>
                <li>AC = (100/Q) —16 + 2Q</li>
            </ul>
            <p>Where: P is the unit price in shillings.</p>
            <p>Q is the quantity of output in units. </p>
            <p>AC is the average cost in shillings. </p>
            <p><strong>Required:</strong></p>
            <ol>
                <li>The total cost function.	(1 mark)</li>
                <li>The variable cost function.	(1 mark)</li>
                <li>The total profit of the firm When Q — 10 units.	(3 marks)</li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>a)</p>
            <ol>
                <li>Explain the difference between the "cardinal approach" and the "ordinal approach" to measuring utility. (2 marks)</li>
                <li>Outline four limitations of the cardinal approach to measuring utility.	(4 marks)</li>
            </ol>
            <p>(b)	Highlight six factors that determine the effectiveness of trade unions in a society.	(6 marks)</p>
            <p>(c)	Discuss four applications of elasticity of demand in economic decision making.		(8 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	With the aid of a well labelled diagram, explain the equilibrium level of a firm operating under an oligopolistic market structure,	(5 marks)</p>
            <p>(b)	Summarise five reasons why the prices of agricultural products fluctuate more than the prices of manufactured products.	(5 marks)</p>
            <p>(c)	Suggest five policy measures that could be adopted by a government to enhance geographical mobility of labour within a country.	(5 marks)</p>
            <p>(d)	The table below shows the quantity of units produced by a certain firm and the corresponding total cost:</p>
            <table >
                <tr>
                    <th>Units produced</th>
                    <th>Total cost (Sh."000")</th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>77</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>216</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>235</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>319</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>348</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>382</td>
                </tr>
            </table>
            <p><strong>Required:</strong></p>
            <ol>
                <li>The average variable costs when the units produced are 2, 6 and 10 respectively. (3 marks)</li>
                <li>The marginal costs of production for the 4th and 8ffi units respectively. (2 marks) </li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	Differentiate between "demand deficient unemployment" and "disguised unemployment" as used in economics. (2 marks)</p>
            <p>(b) Enumerate four effects of inflation on the functions of money.	(4 marks)</p>
            <p>(c)	Outline six limitations of the theory of comparative advantage as used in international trade.	(6 marks)</p>
            <p>(d)	The following data relate to the consumption function of a hypothetical economy in millions of shillings:</p>
            <p>C = 300 + 0.6y</p>
            <p>Where:</p>
            <p>C is the consumption function</p>
            <p>y is the national income.</p>
            <p><strong>Required:</strong></p>
            <ol>
                <li>The investment function.	(1 mark)</li>
                <li>Discuss seven factors that determine the level of consumption in an economy.		(7 marks) </li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  

        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	Examine three roles of foreign exchange reserves in an economy.	(3 marks)</p>
            <p>(b)	Describe six factors that determine the terms of trade in a country.	(6 marks)</p>
            <p>(c)	Explain six causes of high levels of external debt in developing countries.	(6 marks)</p>
            <p>(d)	Analyse five functions of non-banking financial institutions in an economy.		(5 marks) </p>
            <p>C = 300 + 0.6y</p>
            <p>Where:</p>
            <p>C is the consumption function</p>
            <p>y is the national income.</p>
            <p><strong>Required:</strong></p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 

        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)	Argue six cases against the use of national income statistics to compare the standards of living between countries. (6 marks)</p>
            <p>(b)	With the aid of an appropriate diagram, explain the relationship between the short run average cost curve and the long run average cost curve.	(4 marks)</p>
            <p>(c)	The following information relates to the commodity and money markets of a certain closed economy in millions of shillings:</p>
            <p>Commodity market</p>
            <ol>
                <li>C = 200 + 0.4y</li>
                <li>I	=	1,900 — 12r</li>
            </ol>
            <p>Money market</p>
            <ul>
                <li>MDT = 0.5y</li>
                <li>MDS = 100 — lOr </li>
                <li>MS = 1,500</li>
            </ul>
            <p>Where:</p>
            <p>C = Consumption function</p>
            <p>y = National income</p>
            <p>I = Investment function</p>
            <p>r = Rate of interest</p>
            <p>MDT = Precautionary and transactionary demand for money </p>
            <p>MDS = Speculative demand for money</p>
            <p>MS = Money Supply</p>
            <p><strong>Required:</strong></p>
            <ol>
                <li>The IS function.	(3 marks)</li>
                <li>The LM function.	(3 marks)</li>
                <li>The equilibrium level of interest rate.	(2 marks)</li>
                <li>The equilibrium level of national income.		(2 marks) </li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}