{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Economics Question Paper - November 2019</h5>
        <div class="three">
            <h5>Question One</h5> 
            <p>(a)	Examine four limitations of a planned economic system.	(4 marks)</p>
            <p>(b)	With the aid of a diagram, explain the concept of production possibility curve.	(5 marks)</p>
            <p>(c)	With the help of a diagram, illustrate the concept of surplus as applied in the theory of market equilibrium.	(5 marks)</p>
            <p>(d)	The following equations are given:</p>
            <ul>
                <li>Q = -10 + 6P  	equation	(1)</li>
                <li>Q = 20 — 4P  	equation	(ii)</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul>
                <li>Giving reasons, identify the demand function and the supply function.	(2 marks)</li>
                <li>Determine the equilibrium price and quantity.	(4 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Evaluate three fundamental economic issues that a society has to address to minimise the problem of scarcity of resources.	(6 marks)</p>
            <p>(b)	Explain five factors that lead to the external economies of scale in an economy.	(10 marks)</p>
            <p>(c)	Describe two assumptions of the law of variable proportions.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Highlight four assumptions of consumer rationality.	(4 marks)</p>
            <p>(b)	With the aid of a well labelled diagram, explain the concept of a backward bending supply curve of labour.	(6 'harks)</p>
            <p>(c)	A firm operating under perfect competition observed that:</p>
            <ul>
                <li>At a unit price of Sh.20 of product "R", 600 units were sold.</li>
                <li>At an increased price of Sh.70, the sales of product "R" decreased by 500 units.</li>
                <li>The relationship between the price of product "R" and the quantity sold of product "R" is linear.</li>
                <li>The total cost (TC) of product "R" is given by the function:</li>
                <p>TC = 0.982 + 30q + 1,000</p>
                <p>Where q is the quantity of product "R" produced and sold.</p>
            </ul>
            <p><strong>Required:</strong></p>
            <ul>
                <li>The revenue function of product "R".	(4 marks)</li>
                <li>The profit earned at equilibrium.	(4 arks)</li>
                <li>The equilibrium price. (2 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	The per capita income of a hypothetical country increased by 20% from the year 2015 to year 2018. </p>
            <p>Despite this increase in per capita income, the residents of the country felt that their living standards were deteriorating. </p>
            <p><strong>Required:</strong></p>
            <p>Discuss five reasons that might have led to this feeling by the residents.	(10 marks)</p>
            <p>(b)	Describe three methods that could be used to measure the national income of a country.	(6 marks)</p>
            <p>(c)	The following are the consumption and investment functions of country Y in Sh. "Billion".</p>
            <ul>
                <li>C = 200 + 0.8Y</li>
                <li>I = 400</li>
            </ul>
            <p>Where:</p>
            <p>C is Consumption</p>
            <p>Y is Income</p>
            <p>I is Investment</p>
            <p><strong>Required:</strong></p>
            <p>Calculate the aggregate spending at equilibrium level.	(4 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	Examine four benefits of a contractionary monetary policy to an economy.	(4 marks)</p>
            <p>(b)	Explain six factors that determine the level of induced investments in an economy.	(6 marks)</p>
            <p>(c)	The value of money varies inversely with the level of prices.</p>
            <p>With reference to the above statement, justify six positive economic effects of a prolonged fall in the value of money in an economy.	(6 marks)</p>
            <p>(d)	With the aid of a well labelled diagram, explain the trade-off between inflation and unemployment level_	(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        
        <div class="three">
            <h4>SECTION II</h4>
            <h5>Question Six</h5>
            <p>(a)	Identify four reasons against international trade restrictions.	(8 marks)</p>
            <p>(b)	Summarise four functions of World Trade Organisation (WTO).	(4 marks)</p>
            <p>(c)	The citizens of your country have raised concern over the increased rate of Foreign Direct Investment in your country. </p>
            <p><strong>Required:</strong></p>
            <p>Assess four cases in favour of and four cases against Foreign Direct Investment in an economy.	(8 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 

        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)	Enumerate five causes of inequalities in the distribution of income and wealth in an economy.	(5 marks)</p>
            <p>(b)	Explain five benefits of development planning in an economy.	(5 marks)</p>
            <p>(c)	Distinguish between "depreciation of a currency" and "demonetisation of the currency".	(4 marks) </p>
            <p>(d)	Highlight six possible effects of demonetisation of the currency,		(6 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}