{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Company Law Question Paper - November 2019</h5>
        <p><strong>Answer any FIVE questions.</strong></p>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	On 1 September 2018, Peter Kioko decided to form a company under the name PK Ltd. Before the company was duly formed, Peter Kioko made a contract for the company in which PK Ltd. received a down payment of Sh.500,000 for the supply of household items to Fanika Ltd. PK Ltd. has since been incorporated but remains in breach of the said contract. Fanika Ltd. feels aggrieved and has approached you for legal advice.</p>            
            <p><strong>Required</strong></p>
            <p>Analyse the legal principles applicable in the above case and advise Fanika Ltd.	(10 marks)</p>
            <p>(b)	Discuss the doctrine of ultra vires in relation to the memorandum of association of a limited company.	(4 marks) </p>
            <p>(c)	Explain to a new shareholder of a central depository account three circumstances in which a central deposit securities account might be suspended.</p>   
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>a) It is unlawful for a company to issue a loan to any person who is its director or a director of its hol extend a guarantee or provide security in connection with a loan.</p>
            <p><strong>Required</strong></p>
            <p>Summarise the exceptions to the above rule.	(10 marks)</p>
            <p>(b)	Summarise six circumstances under which a company might pay interest out of capital.	(6 marks)</p>
            <p>(c)</p>
            <ul style="list-style: none;">
                <li>(i)	Explain the meaning of the term "insider dealing".	(2 marks)</li>
                <li>(ii)	State two persons who might engage in insider dealings.	(2 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Explain the distinction between "statutory companies" and "non-statutory companies".	(4 marks)</p>
            <p>(b)	Describe four reasons why a court in exercising its inherent jurisdiction for the sake of justice might disregard the principle of legal personality.	(8 marks)</p>
            <p>(c)</p>
            <ul style="list-style: none;">
                <li>(i)	Outline four undertakings that would amount to promotional acts of a company during its formation. (4 marks)</li>
                <li>(ii)	Explain four consequential attributes that flow from incor poration of unincorporated associations. (4 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	Explain four rights of creditors in winding up proceedings.	(8 marks)</p>
            <p>(b)	Describe the manner of service of summons and notices upon foreign companies.	(6 marks)</p>
            <p>(c)	Outline six benefits of corporate restructuring to a company.		(6 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	With reference to the types of companies, summarise three provisions relating to the liabilities of the members of a company.	(6 marks)</p>
            <p>(b)	Mbegu Nzuri Ltd. is in the business of importing seeds. The company is about to make a new issue of 800,000 shares of Sh.20 each. The prospectus has stated that the seeds produced by the company yield 20 bags per acre "even on arid land" and that the company was the only one with such kind of seeds. There was also a publication in the local newspaper about the shares.</p>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1.	Saulo Mpoa did not read the prospectus but applied for the company's shares and was allocated 4,000 shares at Sh.40 per share.</li>
                <li>2.	Baraka Mwanzi read the prospectus and was not allocated the company's shares. She bought 6,000 of the company's shares at the securities exchange at Sh.50 per share.</li>
                <li>3.	Sadiki Mulwa read the publication in the local newspaper about the company's shares and bought 10,000 shares at the securities exchange at Sh.55 per share.</li>
                <li>4.	An actual analysis of the seeds was done and it was discovered that the seeds were not as productive, only yielding 5 bags per acre and could only thrive in wet land. The shares of Mbegu Nzuri Ltd. thereafter dropped in value to Sh.5 per share.</li>
            </ul>
            <p>With reference to the above scenario:</p>
            <ul style="list-style: none;">
                <li>(i)	Explain three types of misrepresentation.	(3 marks)</li>
                <li>(ii)	Explain five elements of misrepresentation. (5 marks)</li>
                <li>(iii)	Advise Saulo, Baraka and Sadiki on possible action against the company.		(6 mark's) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	In the context of company accounts, audit and inspection, highlight six individuals to whom the court might provide a copy of the inspector's report.	(6 marks)</p>
            <p>(b)	In relation to debt capital:</p>
            <ul style="list-style: none;">
                <li>(i)	Highlight six types of company charges which require registration as outlined in the Companies Act.  (6 marks)</li>
                <li>(ii)	Explain four disadvantages of a floating charge to a debenture holder.		(8 marks) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 

        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)	With reference to the case of National Dwelling Society Vs Sykes, enumerate five duties and five powers of the Chairman of a general meeting of a company.	(10 marks)</p>
            <p>(b)	Shauri Moyo Ltd. is a non-listed public company. The company has three directors; Bidii, Mapesa and Shinda who  are also the only shareholders. The company requires additional finance and is proposing to issue a block of ordinary shares to Zindua. The shares have a nominal value of Sh.200 each and Zindua has agreed to pay Sh.220 per share. However, it is agreed that Zindua will only partly pay for the shares at the rate of Sh.20 per share.</p>
            <p><strong>Required</strong></p>
            <p>Advise Bidii, Mapesa and Shinda on the legal issue relating to the proposed issue of shares to Zindua and payments thereon.	(6 marks)</p>
            <p>c) Explain the benefits of including a negative pledge clause in a floating charge to the holder.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}