{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Company Law Question Paper - November 2019
        </h5>
        <p><strong>Answer any FIVE questions.</strong></p>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	In relation to the membership of a company:</p>
            <ol>
                <li>Highlight six ways through which a person might cease to become a member of a company.	(6 marks)</li>
                <li>Outline four rights of a member in relation to meetings of a company.	(4 marks)</li>
            </ol>
            <p>(b)	With specific reference to Directors, summarise five provisions of the Companies Act in your country which govern the removal of a director from office before the expiry of his term.	(10 marks)</p>           
            
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	With reference to formation of companies:</p>
            <ul style="list-style: none;">
                <li>(i) Explain the meaning of the term "promoter".	(2 marks)</li>
                <p>Highlight three fiduciary duties of a promoter of a company.	(6 marks)</p>
                <li>(ii) Outline two remedies to the company for breach of fiduciary duty by promoters.	(2 marks)</li>
            </ul>
            <p>(b)	With reference to external auditors:</p>
            <ul style="list-style: none;">
                <li>(i) Highlight four ways in which the remuneration of the Company Auditor might be fixed.	(4 marks)</li>
                <li>(ii) Discuss three remedies available to a company whose auditor has been negligent.		(6 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	A company is a legal person and is distinct from its members. This principle is regarded as a curtain, a veil or shield between the company and its members. This veil can be lifted by the Courts and statutes.</p>
            <p>Describe the circumstances for lifting of the veil by:</p>
            <ul style="list-style: none;">
                <li>(i)	The Courts.	(6 marks)</li>
                <li>(ii)	The Statutes.	(6 marks)</li>
            </ul>
            <p>(b)</p>
            <ul style="list-style: none;">
                <li>(i) In relation to company investigations, outline four powers of an inspector appointed to investigate the affairs of a company.	(4 marks)</li>
                <li>(ii) Describe four types of content to be stated in an annual return of a company.	(4 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        
        <div class="three">
            <h5>Question Four</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Outline four purposes of holding company general meetings. 	(4 marks)</li>
                <li>(ii)	Distinguish between "voting by a show of hands" and "voting by poll".	(4 marks)</li>
            </ul>
            <p>(b)	In relation to transfer and transmission of shares:</p>
            <ul style="list-style: none;">
                <li>(i)	Describe four effects of a share transfer.	(8 marks)</li>
                <li>(ii)	Explain two consequences of a forged transfer.		(4 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	Highlight three ways in which a company might raise share capital.	(6 marks)</p>
            <p>(b)	Summarise four types of share capital.	(8 marks)</p>
            <p>Advise him on four grounds under which the Commissioner might refuse to issue the applicant with a licence as provided under the Excise Duty Act. (4 marks)</p>
            <p>(c)	Standard Limited issued a debenture to Finance Bank years ago. The debenture was described as a fixed and floating  charge over all the assets of the company. However, due to inadvertence, the charge was not dated or registered within time. The company is now in liquidation and the loan is in arrears. Finance Bank seeks your legal advice on whether it can rely on the charge to prove its claim in liquidation proceedings of the company.</p>
            <p>Advise Finance Bank.	(6 marks)</p>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Describe six powers and duties of the Company Secretary of a company.	(6 marks)</li>
                <li>Summarise four breaches and omissions of duty by a Company Secretary which might lead to being penalised.	(4 marks)</li>
            </ul>
            <p>(b)</p>
            <ul style="list-style: none;">
                <li>(i)	Outline four changes that a_foreign company must give notice of	(4 marks)</li>
                <li>(ii)	The foreign companies' regulations may provide for the registration of specified charges over property. Summarise three provisions that might be contained in the above regulations.	(6 marks)</li>
            </ul>       
                <!-- Answer button start 
                    <div class="clk2">
                        <div></div>
                        <div>
                            <a href="#"><div class="clk">View Answer</div></a>
                        </div>
                        <div></div>
                    </div>
                -->
                <!-- Answer button end -->
            </div> 
            
            <div class="three">
                <h5>Question Seven</h5>
                <p>(a)	With reference to liquidation of companies:</p>
                <ul style="list-style: none;">
                    <li>(i)	Outline two powers of the Liquidator exercisable with the sanction of the court.	(2 marks)</li>
                    <li>(ii)	Highlight five grounds for compulsory liquidation by the Court.	(10 marks)</li>
                </ul>
                <p>(b)	Summarise four strategies that a company Might employ against hostile take-overs.	(8 marks) </p>  
                <!-- Answer button start 
                    <div class="clk2">
                        <div></div>
                        <div>
                            <a href="#"><div class="clk">View Answer</div></a>
                        </div>
                        <div></div>
                    </div>
                -->
                <!-- Answer button end -->
            </div> 
        </div>
        <div></div>
    </div>
    
    {% endblock content %}