{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Company Law Question Paper - November 2019</h5>
        <p><strong>Answer any FIVE questions.</strong></p>
        <div class="three">
            <p>(a)	The shares of United Limited, a private company are held by Jane, John and Alex. Jane and John hold 90% of the company's shares. However, they feel that the company is in need of further capital but due to squabbles, they are not willing to inject additional funds as long as Alex still holds some shares in the company. Further, Jane and John believe that Alex has another business which is competing with that of United Limited. To resolve the problems, Jane and John propose to alter the company's articles of association by adding two new articles.</p>
            <p>The first article will enable the shareholders of 90% of the company's shares to compulsorily acquire the shares of thel,• minority shareholder. The second article will require any shareholder who carries on competing business with te company's business to transfer his shares to the nominee of the directors.</p>
            <P><strong>Required:</strong></P>
            <ul style="list-style: none;">
                <li>(i) Advise Alex on the validity of the proposed alterations to the articles. (10 marks)</li>
            </ul>
            <p>(b)	In relation to share capital:</p>
            <ul style="list-style: none;">
                <li>(i)	State four exceptions to the rule that a company should not issue shares at a discount.	(4 marks)</li>
                <li>(ii)	Explain three roles of the court in the reduction of a company's capital.	(6 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Joanne wishes to register a business enterprise but she knows very little about business associations. She mulls over various choices including partnerships, sole proprietorships and limited companies. Joanne is unable to make up her mind on the type of business to establish and seeks your advice.</li>
                <P><strong>Required:</strong></P>
                <ul style="list-style: none;">
                    <li>Advise Joanne on eight advantages of sole proprietorships over the other forms of business structures. (8 marks)</li>
                </ul>
                <li>(ii)	Distinguish between a "corporation sole" and "corporation aggregate."	(2 marks)</li>
            </ul>
            <p>(b)	In the context of debt capital:</p>
            <ul style="list-style: none;">
                <li>(i)	Outline four remedies of debenture holders if the company defaults.	(4 marks)</li>
                <li>(ii)	Summarise three differences between "debentures" and "shares".		(6 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Highlight four documents which are required to accompany the application for registration of a foreign company.	(4 marks)</li>
                <li>(ii)	With reference to foreign companies, explain three changes that require a 30 days notice before effecting. (6 marks)</li>
            </ul>
            <p>(b)</p>
            <ul style="list-style: none;">
                <li>(i)	Outline five particulars that might be stated in an application for registration of a company.	(5 marks)</li>
                <li>(ii)	Describe the prescribed format of the articles of association.		(5 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Four</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Summarise the criteria used for the appointment of an eligible natural person or firm as a statutory auditor. (2 marks)</li>
                <li>(ii)	Describe four individuals who may not act as statutory auditors of an auditee company.	(4 marks)</li>
                <li>(iii)	Outline four rights of an auditor of a company in relation to meetings.	(4 marks)</li>
            </ul>
            <p>(b)	Gipange Limited has a share capital of Sh.50,000. The membership of the company has reduced from forty five members to one member and the register of members was not properly kept, The directors of Gipange Limited have sought your advice regarding the maintenance of a company's register of members.</p>
            <p>In relation to the above facts:</p>
            <ul style="list-style: none;">
                <li>(i)	Outline four particulars which might have been contained in Gipange Limited's former register of members (8 marks)</li>
                <li>(ii)	Indicate two contents of Gipange Limited's current register of members.	(2 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Define the term "post merger re-organistion".	(2 marks)</li>
                <li>(ii)	Discuss four types of post merger re-organisation.	(8 marks)</li>
            </ul>
            <p>(b)</p>
            <ul style="list-style: none;">
                <li>(i)	Outline four circumstances in which a valid meeting might be constituted by one person.	(4 marks)</li>
                <li>(ii)	Describe three means through which written resolutions might be circulated to eligible members. (6 marks) </li>
            </ul>
                <!-- Answer button start 
                    <div class="clk2">
                        <div></div>
                        <div>
                            <a href="#"><div class="clk">View Answer</div></a>
                        </div>
                        <div></div>
                    </div>
                -->
                <!-- Answer button end -->
            </div> 
            <div class="three">
                <h5>Question Six</h5>
                <p>(a)	In relation to the duties of directors:</p>
            <ul style="list-style: none;">
                <li>(i)	Discuss three propositions of care, skill and diligence as enumerated in Re City Equitable Fire Insurance Company Ltd.	(6 marks)</li>
                <li>(ii)	Highlight four statutory duties of a director according to the Companies Act.	(4 marks)</li>
            </ul>
            <p>b) With regard to company accounts, audit and investigation:</p>
            <ul style="list-style: none;">
                <li>(i)	Specify three categories of members who might apply to the court for appointment of company inspectors to investigate the affairs of the company.	(3 marks)</li>
                <li>(ii)	Enumerate seven requirements for group financial statements.		(7 marks)  </li>
            </ul>
                    <!-- Answer button start 
                        <div class="clk2">
                            <div></div>
                            <div>
                                <a href="#"><div class="clk">View Answer</div></a>
                            </div>
                            <div></div>
                        </div>
                    -->
                    <!-- Answer button end -->
                </div>  

                <div class="three">
                    <h5>Question Seven</h5>
                    <p>(a)</p>
                <ul style="list-style: none;">
                    <li>(i)	Describe eight particulars of secretaries that are required to be contained in the company's register of secretaries.	(8 marks)</li>
                    <li>(ii)	State two grounds for disqualification from being registered as a company secretary.	(2 marks)</li>
                </ul>
                <p>b)</p>
                <ul style="list-style: none;">
                    <li>(i)	With reference to liquidation of a company, describe what a liquidator might do in case there is surplus after payment of company's debts provided in the winding up.	(4 marks)</li>
                    <li>(ii)	Explain three circumstances when a company will be deemed unable to pay its debts.	(6 marks) </li>
                </ul>
                        <!-- Answer button start 
                            <div class="clk2">
                                <div></div>
                                <div>
                                    <a href="#"><div class="clk">View Answer</div></a>
                                </div>
                                <div></div>
                            </div>
                        -->
                        <!-- Answer button end -->
                    </div> 
            </div>
            <div></div>
        </div>
        
        {% endblock content %}