{% extends "ans/base.html" %}
{% block content %}

<div class="six">
    <div></div>
    <div class="seven">
      <h5 class="four mby">Company Law</h5>
      <div class="lks">
        <p><a href="{% url 'companylaw2019_November' %}">2019 November Company Law Questions and Answers</a></p>
        <p><a href="{% url 'companylaw2019_May' %}">2019 May Company Law Questions and Answers</a></p>
        <p><a href="{% url 'companylaw2018_November' %}">2018 November Company Law Questions and Answers</a></p>
      </div>
    </div>
    <div></div>
  </div>
{% endblock content %}