{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Entrepreneurship Question Paper - November 2018</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	Distinguish between an "entrepreneur" and a "small business owner".	(2 marks)</p>
            <p>(b)	Examine five forces that could be driving the growth of entrepreneurship in your country in the recent past. (10 marks) </p>
            <p>(c)	With reference to starting a new business venture through franchising, summarise four merits and four demerits of a franchisee.	(8 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)</p>
            <ul>
                <li>Explain the term "business incubator"	(2 marks)</li>
                <li>Highlight six services that could be provided to entrepreneurs by a business incubatolk	(6 marks)</li>
            </ul>
            <p>(b)	List six characteristics commonly associated with entrepreneurs.	(6 marks)</p>
            <p>(c)	Summarise what an entrepreneur should do before implementing radical changes in a business.		(6 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Discuss four approaches to corporate entrepreneurship.	(8 marks)</p>
            <p>(b)	Describe six essential features of a good business plan.	(6 marks)</p>
            <p>(c)	State three advantages and three disadvantages of financing a business through debt.		(6 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	In the context of acquisition of an existing business, explain the term "due diligence".	(2 marks)</p>
            <p>(b)	With reference to stages of entrepreneurial development, examine four types of entrepreneurs.	(8 marks)</p>
            <p>(c)	Assess five strategies that a business entity could use to enter a foreign market.		(10 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h4>SECTION II</h4>
            <h5>Question Five</h5>
            <p>(a)</p>
            <ul>
                <li>With reference to internal communication, distinguish between "an order" and an instruction". (4 marks)</li>
                <li>From the supervisor's perspective, analyse four ways of improving upward communication.	(8 marks)</li>
            </ul>
            <p>(b)	Suggest eight measures that an interviewer should take to ensure the success of an interview.		(8 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	Summarise four qualities of an effective e-mail.	(4 marks)</p>
            <p>(b)	Describe the structure of a well written research proposal.	(8 marks)</p>
            <p>(c)	Discuss four documented information used in the process of conducting meetings.		(8 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  

        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)	State five objectives of downward communication.	(5 marks)</p>
            <p>(b)	Explain five reasons for the importance of business ethics.	(5 marks)</p>
            <p>(c)	Examine five techniques of effective listening.		(10 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
    </div>
    <div></div>
</div>

{% endblock content %}