{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Entrepreneurship Question Paper - May 2019</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	Highlight five roles performed by venture capitalists.	(5 marks)</p>
            <p>(b)	Explain five methods that an entrepreneur could use to tap into a business opportunity for a new venture.	(5 marks)</p>
            <p>(c)	Discuss five reasons why an entrepreneur needs to conduct a market research before entering into foreign markets. (10 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Outline five disadvantages of a sole proprietorship business.	(5 marks)</p>
            <p>(b)	Explain five challenges that could inhibit the growth of women entrepreneurship in your country.	(5 marks)</p>
            <p>(c)	Discuss five factors that have led to the global rise of information technology and service oriented businesses (10 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>Suggest four factors which could inhibit carrying out a marketing research for an enterprise. (4 marks)</p>
            <p>(b)	Discuss three differences between a "manager" and an "entrepreneur".	(6 marks)</p>
            <p>(c)	Describe five stages of the life-cycle of a business enterprise.		(10 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	Justify four reasons why profit maximisation is important to an entrepreneur.	(4 marks)</p>
            <p>(b)	Analyse four major types of business incubators.	(8 marks)</p>
            <p>(c)	State four ways in which investors could offer support to an enterprise.	(4 marks)</p>
            <p>(d)	Explain four possible impacts of frequent review of government regulations to small and medium enterprises.	(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h4>SECTION II</h4>
            <h5>Question Five</h5>
            <p>(a)	Outline three qualities of an effective business letter.	(3 marks)</p>
            <p>(b)</p>
            <ul>
                <li>Explain the term "graphic communication".	(2 marks)</li>
                <li>Explain five reasons of using visual aids in a presentation.	(5 marks)</li>
            </ul>
            <p>(c)	Analyse five technological trends that have influenced business communication in the 21St century.		(10 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
    </div>
    <div></div>
</div>

{% endblock content %}