{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Entrepreneurship Question Paper - November 2019</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>a) Suggest eight ways in which entrepreneurship could drive economic development of a country.	(8 marks)</p>
            <p>(b)	Highlight eight differences between shares and debentures.	(8 marks)</p>
            <p>(c)	List four circumstances under which an entrepreneur would outsource business activities.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Analyse five factors which an entrepreneur should consider when choosing a business incubator.	(10 marks)</p>
            <p>(b)	Examine five conditions which should prevail to ensure a successful brainstorming session.		(10 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Explain six roles of innovation in entrepreneurship.	(6 marks)</p>
            <p>(b)	With reference to intellectual property rights, discuss three types of patents.	(6 marks)</p>
            <p>(c)	In the context of manufacturing entities, describe four types of information a business would require when developing the production and operation section of a business plan.	(8 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	Discuss five stages in the creative process of transforming ideas into useful applications.	(10 marks)</p>
            <p>(b)	Explain six reasons why business networking is important to an entrepreneur.	(6 marks)</p>
            <p>(c)	Assess two avenues an entrepreneur could use to generate business opportunities.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h4>SECTION II</h4>
            <h5>Question Five</h5>
            <p>(a)	Highlight five guidelines followed while designing a questionnaire.	(5 marks)</p>
            <p>(b)	Explain five benefits of an effective internal communication system to an organisation.	(5 marks)</p>
            <p>(c)	Discuss five factors which should be considered while selecting a medium of communication.	</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
    </div>
    <div></div>
</div>

{% endblock content %}