{% extends "ans/base.html" %}
{% block content %}

<div class="six">
    <div></div>
    <div class="seven">
      <h5 class="four mby">Entrepreneurship and Communication</h5>
      <div class="lks">
        <p><a href="{% url 'entrepreneurship2019_November' %}">2019 November Entrepreneurship Questions and Answers</a></p>
        <p><a href="{% url 'entrepreneurship2019_May' %}">2019 May Entrepreneurship Questions and Answers</a></p>
        <p><a href="{% url 'entrepreneurship2018_November' %}">2018 November Entrepreneurship Questions and Answers</a></p>
      </div>
    </div>
    <div></div>
  </div>
{% endblock content %}