{% extends "ans/base.html" %}
{% block content %}
<div class="dfive">
  <div></div>
  <div class="nine">
    <h5 class="four mby3">CPA</h5>
    <!-- Answer button start -->
    <div class="clk2">
      <div></div>
      <div>
        <a href="{% url 'cpa-partone' %}"><div class="clk1">Part One</div></a>
      </div>
      <div></div>
    </div>
    <!-- Answer button end -->
    
    <!-- Commented out parts 2 and 3 
  
    <div class="clk2">
      <div></div>
      <div>
        <a href="{% url 'cpa-parttwo' %}"><div class="clk1">Part two</div></a>
      </div>
      <div></div>
    </div>
    
    <div class="clk2">
      <div></div>
      <div>
        <a href="{% url 'cpa-partthree' %}"><div class="clk1">Part Three</div></a>
      </div>
      <div></div>
    </div>
 >
  -->
  </div>
  <div></div>
</div>
{% endblock content %}