{% extends "ans/base.html" %}
{% block content %}

<div class="six">
    <div></div>
    <div class="seven">
        <h5 class="four mby">CPA Part One</h5>
        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'fa_questions_list' %}"><div class="clk1">Financial Accounting</div></a>
            </div>
            <div></div>
        </div>
        <!-- Answer button end -->

        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'law_paper_list' %}"><div class="clk1">Business Law</div></a>
            </div>
            <div></div>
        </div>
        <!-- Answer button end -->

        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'entrepreneurship_paper_list' %}"><div class="clk1">Entrepreneurship and Communication</div></a>
            </div>
            <div></div>
        </div>
        
        <!-- Answer button end -->

        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'economics_paper_list' %}"><div class="clk1">Economics</div></a>
            </div>
            <div></div>
        </div>
        <!-- Answer button end -->
        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'managementaccounting_paper_list' %}"><div class="clk1">Management Accounting</div></a>
            </div>
            <div></div>
        </div>
        <!-- Answer button end -->
        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'taxation_paper_list' %}"><div class="clk1">Public Finance and Taxation</div></a>
            </div>
            <div></div>
        </div>
        <!-- Answer button end -->
        
    </div>
    <div></div>
</div>
{% endblock content %}