{% extends "ans/base.html" %}
{% block content %}
<div class="five">
    <div></div>
    <div class="nine">
        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'cpa-home' %}"><div class="clk1">CPA</div></a>
            </div>
            <div></div>
        </div>
        <!-- Answer button end -->
        <!-- Answer button start -->
        <div class="clk2">
            <div></div>
            <div>
                <a href="{% url 'cpa-home' %}"><div class="clk1">CPS</div></a>
            </div>
            <div></div>
        </div>
        <!-- Answer button end -->
    </div>
    <div></div>
</div>
{% endblock content %}