{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Financial Accounting Question Paper - November 2018</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>a) In the context of International Accounting Standards Board’s Conceptual Framework for Financial Reporting explain the five elements of financial statements     (10 marks)</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>b) With reference to the preparation of the financial statements of a manufacturing entity, explain the meaning of the following terms:</p>
            <ul>
                <li>Direct costs (2 marks)</li>
                <li>Overheads (2 marks)</li>
            </ul>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>(c) Differentiate between the “direct” and “indirect” methods of presentation of cash flows   (6 marks)</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a) Outline the four objectives of the International Public Sector Accounting Standards Board (IPSASB) (4 marks)</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>(b) The following information relates to Mapozi Social Club for the year ended 30th June 2018:</p>
            <p>Statement of receipts and payments</p>
            <table >
                <tr>
                    <th>Receipts</th>
                    <th>Sh”000”</th>
                    <th>Payments</th>
                    <th>Sh”000”</th>
                </tr>
                <tr>
                    <td>Balance b/d</td>
                    <td>3,910</td>
                    <td>Repairs to sports pavilion</td>
                    <td>2,220</td>
                </tr>
                <tr>
                    <td>Canteen sales</td>
                    <td>183.840</td>
                    <td>Secretary’s allowance</td>
                    <td>2,814</td>
                </tr>
                <tr>
                    <td>Subscriptions received for the year:</td>
                    <td></td>
                    <td>Canteen expenses</td>
                    <td>702</td>
                </tr>
                <tr>
                    <td>2016/2017</td>
                    <td>4,200</td>
                    <td>Canteen staff wages</td>
                    <td>25,872</td>
                </tr>
                <tr>
                    <td>2017/2018</td>
                    <td>43,050</td>
                    <td>Grounds-men Wages</td>
                    <td>65,304</td>
                </tr>
                <tr>
                    <td>2018/2019</td>
                    <td>3,600</td>
                    <td>Payment for canteen supplies</td>
                    <td>115,860</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Balance c/d</td>
                    <td>20,968</td>
                </tr>
                <tr>
                    <td></td>
                    <td>241,000</td>
                    <td></td>
                    <td>241,000</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <p>1. As at 30th June 2017, the club’s land was valued at sh.120 million and the sports pavilion at sh. 60 million. The sports pavilion is depreciated at the rate of 10% per annum on cost or valuation. </p>
            <p>2. The clubs’s equipment as at 30the June 2017 was valued at sh 7.5 million and is to be depreciated at the rate of 20% per annum on cost or valuation. </p>
            <p>3. Subscriptions owing by members amounted to Sh. 4.2 million as at 30th June 2017 and Sh. 5.25 million as at 30th June 2018. </p>
            <p>4. The following balances were available as at 30th June:</p>
            <table >
                <tr>
                    <th></th>
                    <th>2017</th>
                    <th>2018</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Sh”000”</td>
                    <td>Sh”000”</td>
                </tr>
                <tr>
                    <td>Canteen expenses owing</td>
                    <td>676</td>
                    <td>1,008</td>
                </tr>
                <tr>
                    <td>Transport expenses owing</td>
                    <td>--</td>
                    <td>796</td>
                </tr>
                <tr>
                    <td>Inventory in canteen for sale</td>
                    <td>13,488</td>
                    <td>16,674</td>
                </tr>
                <tr>
                    <td>Owing for canteen supplies</td>
                    <td>9,882</td>
                    <td>13,020</td>
                </tr>
            </table>
            <p><strong>Required</strong></p>
            <p>(a)	Canteen income statement for the year ended 30th June 2018 (4 marks)</p>
            <p>(b)	Income and expenditure statement for the year ended 30th June 2018 (6 marks)</p>
            <p>(c)	Statement of financial position as at 30 June 2018 (6 marks)</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            
        </div> 
        <div class="three">
            <h5>Question Three</h5>
            <p>Mercy, Nelly and Onyango are in partnership sharing profits and losses equally after allowing for interest on capital at the rate of 5% per annum to the partners and a salary to Nelly of Sh.60,000 per month</p>
            <p>The trial balance of the partnership as at 30th September 2018 was as follows:</p>
            <table >
                <tr>
                    <th></th>
                    <th>Sh”000”</th>
                    <th>Sh”000”</th>
                </tr>
                <tr>
                    <td>Sales</td>
                    <td></td>
                    <td>60,000</td>
                </tr>
                <tr>
                    <td>Inventory (1 October 2017)</td>
                    <td>9,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Purchases</td>
                    <td>30,900</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Operating expenses</td>
                    <td>19,200</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Loan from: Nelly</td>
                    <td></td>
                    <td>3,000</td>
                </tr>
                <tr>
                    <td>Onyango</td>
                    <td></td>
                    <td>6,000</td>
                </tr>
                <tr>
                    <td>Land</td>
                    <td>3,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Buildings </td>
                    <td>15,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Plant and Machinery (Cost)</td>
                    <td>21,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Accumulated depreciation (30th September 2018)</td>
                    <td></td>
                    <td>12,000</td>
                </tr>
                <tr>
                    <td>Accounts receivable and accounts payable</td>
                    <td>12,000</td>
                    <td>9,900</td>
                </tr>
                <tr>
                    <td>Bank overdraft</td>
                    <td></td>
                    <td>3,300</td>
                </tr>
                <tr>
                    <td>Capital Accounts: Mercy</td>
                    <td></td>
                    <td>7,500</td>
                </tr>
                <tr>
                    <td>Nelly</td>
                    <td></td>
                    <td>6,000</td>
                </tr>
                <tr>
                    <td>Onyango</td>
                    <td></td>
                    <td>3,000</td>
                </tr>
                <tr>
                    <td>Current Accounts: Mercy</td>
                    <td></td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>Nelly</td>
                    <td></td>
                    <td>900</td>
                </tr>
                <tr>
                    <td>Onyango</td>
                    <td></td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>Drawings: Mercy</td>
                    <td>900</td>
                    <td></td>
                </tr>
                <tr>
                    <td> Nelly</td>
                    <td>1,200</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Onyango</td>
                    <td>600</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>112,800</td>
                    <td>112,800</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <p>1. On 1 April 2018, the terms of the partnership agreement were changed. The new terms provided as follows:</p>
            <ul>
                <li>A profit sharing ratio of 5:3:2 for Mercy, Nelly and Onyango respectively</li>
                <li>Salaries of Sh.30,000 per month to Nelly and Onyango. </li>
                <li>Interest on capital at the rate of 5% per annum. </li>
                <li>For the purpose of the changes, goodwill was valued at Sh. 3,600,000 and was to be written off immediately while the land and buildings were valued at Sh. 6,000,000 and Sh. 19,200,000 respectively. </li>
            </ul>
            <p>2. Sales include a credit sale of Sh. 1,800,000 in respect of goods sold on the basis of confirmation by the customer. The goods had a cost of Sh.600,000. As at 30th September 2018, the customer had not confirmed whether or not he would buy the goods. </p>
            <p>3. Interest on loans from Nelly and Onyango is to be charged at the rate of 10% per annum. This interest had not been paid as at 30th September 2018. </p>
            <p>4. closing inventory as at 30th September 2018 was valued at Sh. 7,200,000</p>
            <p>5. Unless otherwise provided, the incomes and expenses accrued evenly throughout the year. </p>
            <p><strong>Required</strong></p>
            <p>(a) Income and appropriation statement for the year ended 30th September 2018.</p>
            <p>(b) Partners current accounts as at 30th September 2018. </p>
            <p>(c) Statement of financial position as at 30th September 2018.</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Four</h5>
            <p>Zam Zam Ltd. has an authorized share capital of Sh.100,000,000 shares of Sh.1 each and 20,000,000 8% preference shares of Sh. 1 each. The following trial balance was extracted as at 31st December 2017. </p>
            <table >
                <tr>
                    <th></th>
                    <th>Sh”000”</th>
                    <th>Sh”000”</th>
                </tr>
                <tr>
                    <td>Ordinary share capital (issued, 0.5 paid per share)</td>
                    <td></td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>8% preference share capital (issued and fully paid)</td>
                    <td></td>
                    <td>8,000</td>
                </tr>
                <tr>
                    <td>Plant and machinery at cost </td>
                    <td></td>
                    <td>34,000</td>
                </tr>
                <tr>
                    <td>Motor vehicles at cost </td>
                    <td></td>
                    <td>16,000</td>
                </tr>
                <tr>
                    <td>Computer hardware at cost </td>
                    <td></td>
                    <td>5,000</td>
                </tr>
                <tr>
                    <td>Accounts receivable and accounts payable </td>
                    <td>34,980</td>
                    <td>15,900</td>
                </tr>
                <var><tr>
                    <td>Corporate tax payable (1 January 2017) </td>
                    <td></td>
                    <td>1,970</td>
                </tr>
                <tr>
                    <td>Bank Balance </td>
                    <td>14,505</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10% Debentures</td>
                    <td></td>
                    <td>9,000</td>
                </tr>
                <tr>
                    <td>Inventories (1st Jan 2017) </td>
                    <td></td>
                    <td>25,200</td>
                </tr>
                <tr>
                    <td>General Expenses</td>
                    <td>11,020</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Purchases and sales</td>
                    <td>164,764</td>
                    <td>233,384</td>
                </tr>
                <tr>
                    <td>Preliminary expenses</td>
                    <td>2,400</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Debenture interest paid</td>
                    <td>450</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Investment Income</td>
                    <td></td>
                    <td>1,125</td>
                </tr>
                <tr>
                    <td>Salaries</td>
                    <td>24,210</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Investments (shares in Nguru Ltd)</td>
                    <td>13,500</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Accumulated depreciation (1 January 2017):</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Plant and machinery</td>
                    <td></td>
                    <td>16,000</td>
                </tr>
                <tr>
                    <td>Motor Vehicles</td>
                    <td></td>
                    <td>7,200</td>
                </tr>
                <tr>
                    <td>Computer hardware</td>
                    <td></td>
                    <td>1,750</td>
                </tr>
                <tr>
                    <td>Director’s fee</td>
                    <td>7,000</td>
                    <td></td>
                </tr>
                <var><tr>
                    <td>Auditor’s fee</td>
                    <td>2,500</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Computer software</td>
                    <td>1,500</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Interim preference dividend paid</td>
                    <td>320</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Retained earnings (1 January 2017)</td>
                    <td></td>
                    <td>8,470</td>
                </tr>
                <tr>
                    <td>Allowance for doubtful debts (1 January 2017)</td>
                    <td></td>
                    <td>5,300</td>
                </tr>
                <tr>
                    <td></td>
                    <td>358,099</td>
                    <td>358,099</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <p>1. Inventories as at 31 December 2017 were valued at Sh. 28,247,000.</p>
            <p>2. Investments have a market value of Sh.15,000,000.</p>
            <p>3. Debenture interest is payable in two equal annual installments. </p>
            <p>4. Insurance premiums prepaid as at 31 December 2017 amounted to Sh.240,000</p>
            <p>5. Depreciation is to be provided as follows:</p>
            <ul>
                <li>Plant and machinery, at the rate of 10% per annum on cost</li>
                <li>Motor vehicles at the rate of 20% per annum on reducing balance </li>
                <li>Computer hardware, at the rate of 25% per annum on cost</li>
            </ul>
            <p>6. The allowance for doubtful debts is to be increased to Sh.7,500,000. </p>
            <p>7. A corporate tax of Sh.4,750,000 is to be provided for with respect to the year ended 31 December 2017</p>
            <p>8. The directors proposed to pay the remaining dividend due to preference shareholders and a first and final dividend to the ordinary shareholders at the rate of 6%. </p>
            <p>9. A sum of Sh. 2,000,000 is to be transferred to the general reserve. </p>
            <p><strong>Required</strong></p>
            <p>(a) Income statement for the year ended 31 December 2017</p>
            <p>(b) Statement of changes in equity for the year ended 31 December 2017</p>
            <p>(c) Statement of financial position at 31 December 2017</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Five</h5>
            <p>(a) Outline four reasons why it is important to undertake bank reconciliation (8 marks)</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>(b) The income statement of United Trading Enterprises (UTE) for the year ended 31 December 2017, as prepared by an accounts assistant, indicated a net profit of Sh. 49,360,000. The cash book as at 31 December 2017 showed a balance at bank of Sh. 6,440,000. Your attention, however, has been drawn to the following matters:</p>
            <p>1. Cheques from customers totaling Sh. 4,980,000 which were recorded in the cash book on 29th December 2017 were actually not credited by the bank until 2nd January 2018.</p>
            <p>2. Cheques issued on 31st December 2017 totaling Sh. 7,420,000 in favour of suppliers were not paid by the bank until after the end of the year (that is, after 31 December 2017).</p>
            <p>3. On 22nd November 2017, the bank paid an amount of sh. 3,600,000 with respect to a standing order from UTE for rent of business premises for the three months to 31st January 2018 but, unfortunately, no entry for the payment had been made in the cash book. Additionally, no record of this rent had been made in the income statement for the period.</p>
            <p>4. On 31st December 2017, Mr. Ken Abusi, a customer, had paid sh. 2,340,000 directly into UTE’s bank account in full settlement of a debt of Sh. 2,400,000 owing to UTE but no entry had been made in the books.</p>
            <p>5. On 31st December 2017, a cheque of sh. 480,000 was received from a customer in the settlement of sales invoice for the same amount. The cheques were lodged into UTE’s bank account. However, still, on 31st December 2017, the customer returned the goods and also instructed his bankers not to pay the cheque. This instruction was carried out the same day but no entries in respect of these latter developments have been made in UTE’s books. The cost of these goods amounting to sh. 320,000 was not included in the closing inventories.</p>
            <p>6. A cheque of sh. 840,000 from an insurance company in the settlement of a claim for damage to inventory by fire had been paid into and credited by the bank on 21st December 2017, but an estimated amount of sh. 800,000 had been entered in UTE’s income statement.</p>
            <p><strong>Required</strong></p>
            <p>a) Adjusted cash book as at 31st December 2017 (4 marks)</p>
            <p>b) Bank reconciliation statement as at 31st December (4 marks)</p>
            <p>c) Statement of corrected net profit for the year ended 31st December 2017 (6 marks)</p>
            <p>d) Explain how the bank balance will be reported in UTE’s final accounts. (2 marks)</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div>       
    </div>
    <div></div>
</div>


{% endblock content %}