{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Financial Accounting Question Paper - November 2019</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>a) Outline the four limitations of ratio analysis</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://youtu.be/biIC11qtvN8"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>b) Explain the four principles that can be used to guide a manufacturing entity in apportioning overhead costs</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://youtu.be/IRPcBJSUAjQ"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>c) Discuss three guiding ethics for professional accountants</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://youtu.be/52WqB4DGYNw"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>d) Explain three types of errors that may cause the trial balance not to balance</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://youtu.be/HvoyCQ8dSSM"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>Regina Rai is a businesswoman who does not prepare proper books of account. She makes a gross profit to cost of sales of 3/7 per annum. The following balances were extracted from her records as at 30th September</p>
            <table >
                <tr>
                    <th>Company</th>
                    <th>2018</th>
                    <th>2019</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Sh”000”</td>
                    <td>Sh”000”</td>
                </tr>
                <tr>
                    <td>Land and buildings</td>
                    <td>18,000</td>
                    <td>18,000</td>
                </tr>
                <tr>
                    <td>Equipment</td>
                    <td>4,800</td>
                    <td>3,840</td>
                </tr>
                <tr>
                    <td>Furniture and fittings</td>
                    <td>2,400</td>
                    <td>1,920</td>
                </tr>
                <tr>
                    <td>Motor vehicles</td>
                    <td>6,000</td>
                    <td>4,500</td>
                </tr>
                <tr>
                    <td>Inventory</td>
                    <td>3,600</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>Accounts Receivable</td>
                    <td>5,400</td>
                    <td>7,200</td>
                </tr>
                <tr>
                    <td>Pre-paid rates</td>
                    <td>180</td>
                    <td>240</td>
                </tr>
                <tr>
                    <td>Bank balance</td>
                    <td>1,620</td>
                    <td>15,630</td>
                </tr>
                <tr>
                    <td>15% bank loan</td>
                    <td>12,000</td>
                    <td>6,000</td>
                </tr>
                <tr>
                    <td>Accounts payable</td>
                    <td>2,700</td>
                    <td>3,000</td>
                </tr>
                <tr>
                    <td>Accrued electricity</td>
                    <td>300</td>
                    <td>480</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <p>1.	On 1 April 2019, Regina repaid part of the loan by cheque of Sh. 6,000,000</p>
            <p>2.	Regina did not maintain records on cash withdrawn from the bank for personal use. The balancing figure in the bank account is to be treated as personal savings</p>
            <p>3.	Total sales for the year ended 30th September 2019 amounted to Sh.360,000,000, while purchases amounted to Sh.253,200,000 for the same period. All purchases and sales were on credit</p>
            <p>4.	The discounts for the year ended 30th September 2019 were as follows:</p>
            <table >
                <tr>
                    <th></th>
                    <th>Ksh</th>
                </tr>
                <tr>
                    <td>Salaries </td>
                    <td>36,210</td>
                </tr>
                <tr>
                    <td>Rates, insurance and electricity</td>
                    <td>23,280</td>
                </tr>
                <tr>
                    <td>Interest on loans</td>
                    <td>900</td>
                </tr>
            </table>
            <p>5.	Bad debts written off during the year ended 30th Sep	tember 2019 amounted to Sh.240,000.</p>
            <p>6.	On 1 April 2019, Regina purchased some equipment for use in the business at a cost of Sh.600,000. No depreciation is charged on the year of purchase</p>
            <p>7.	The following expenses were paid by cheque during the year:</p>
            <table >
                <tr>
                    <th>Discount</th>
                    <th>Ksh</th>
                </tr>
                <tr>
                    <td>Discounts allowed</td>
                    <td>960,000</td>
                </tr>
                <tr>
                    <td>Discount received</td>
                    <td>900,000</td>
                </tr>
            </table>
            <p><strong>Required</strong></p>
            <p>a) Income statement for the year ended 30th September 2019</p>
            <p>b) Statement of financial position as at 30th September 2019</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://www.youtube.com/watch?v=7hJ3PO0N8Jw"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>a)	In the measurement of profit, partnership salaries are treated as an appropriation while directors’ fees on the other hand are treated as an expense. Explain the difference for this treatment.</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>b)	The following balances were extracted from the books of Meza Ltd on 30th June 2019:</p>
            <table >
                <tr>
                    <th></th>
                    <th>Sh "000"</th>
                </tr>
                <tr>
                    <td>Authorized and issued share capital:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ordinary shares (Shs.5 par value)</td>
                    <td>150,000</td>
                </tr>
                <tr>
                    <td>10% preference shares (Sh.10 par value)</td>
                    <td>60,000</td>
                </tr>
                <tr>
                    <td>Inventory as at 30th June 2019</td>
                    <td>95,778</td>
                </tr>
                <tr>
                    <td>Accounts receivable and prepayments</td>
                    <td>40,800</td>
                </tr>
                <tr>
                    <td>Accounts payable and accruals</td>
                    <td>20,583</td>
                </tr>
                <tr>
                    <td>Bank balance</td>
                    <td>11,694</td>
                </tr>
                <tr>
                    <td>12% debentures</td>
                    <td>24,000</td>
                </tr>
                <tr>
                    <td>General reserves</td>
                    <td>42,000</td>
                </tr>
                <tr>
                    <td>Bad debts</td>
                    <td>510</td>
                </tr>
                <tr>
                    <td>Gross profit for the year</td>
                    <td>122,262</td>
                </tr>
                <tr>
                    <td>Wages and salaries </td>
                    <td>42,300</td>
                </tr>
                <tr>
                    <td>Insurance and rates </td>
                    <td>2,115</td>
                </tr>
                <tr>
                    <td>Telephone expenses</td>
                    <td>930</td>
                </tr>
                <tr>
                    <td>Electricity and water</td>
                    <td>1,824</td>
                </tr>
                <tr>
                    <td>Debenture interest </td>
                    <td>1,440</td>
                </tr>
                <tr>
                    <td>Directors fee</td>
                    <td>3,750</td>
                </tr>
                <tr>
                    <td>General expenses </td>
                    <td>4,662</td>
                </tr>
                <tr>
                    <td>Motor vehicles (Cost Sh. 59,100,000)</td>
                    <td>40,200</td>
                </tr>
                <tr>
                    <td>Office furniture and equipment (cost Sh.36,960,000) </td>
                    <td>11,160</td>
                </tr>
                <tr>
                    <td>Land and buildings at cost </td>
                    <td>198,060</td>
                </tr>
                <tr>
                    <td>Profit and loss account (1 July 2018) </td>
                    <td>36,378</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <p>1.	Depreciation is to be provided as follows:</p>
            <ul>
                <li>Motor vehicles at a rate of 20% per annum on cost</li>
                <li>Office furniture and equipment at a rate of 15% per annum on cost</li>
            </ul>
            <p>2.	As at 30th June 2019, an amount of Sh.822,000 for electricity consumed had not been paid</p>
            <p>3.	The insurance expense amount on 30 June 2019 includes an amount of Sh.450,000 paid in June 2019 for the period of 1 July 2019 to 30 September 2019. </p>
            <p>4.	Provisions for the following are to be made:</p>
            <table >
                <tr>
                    <th></th>
                    <th>Sh. “000”</th>
                </tr>
                <tr>
                    <td>Directors’ fees</td>
                    <td>7,500</td>
                </tr>
                <tr>
                    <td>Audit fees</td>
                    <td>7,200</td>
                </tr>
            </table>
            <p>5.	The directors recommended that:</p>
            <ul>
                <li>Sh.18,000,000 be transferred to the general reserve</li>
                <li>The preference share dividend be paid</li>
                <li>A 10% ordinary share dividend be paid</li>
            </ul>
            <p><strong>Required</strong></p>
            <p>(i)	Income statement and appropriation account for the year ended 30th June 2019</p>
            <p>(ii)	Statement of financial position as at 30th June 2019</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://www.youtube.com/watch?v=vVfiYw0nXLQ"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Four</h5>
            <p>The following information relates to Furahi Sana Social Club for the year ended 30th June 2019. </p>
            <table >
                <tr>
                    <th>Receipts</th>
                    <th>Sh "000"</th>
                    <th>Payments</th>
                    <th>Sh "000"</th>
                </tr>
                <tr>
                    <td>Bal brought forward</td>
                    <td></td>
                    <td>Canteen Purchases</td>
                    <td>30,150</td>
                </tr>
                <tr>
                    <td>Bank</td>
                    <td>50,000</td>
                    <td>Electricity and Water</td>
                    <td>4,050</td>
                </tr>
                <tr>
                    <td>Cash</td>
                    <td>60,000</td>
                    <td>Sports Equipment</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>Subscriptions received</td>
                    <td>144,000</td>
                    <td>Canteen Wages</td>
                    <td>4,500</td>
                </tr>
                <tr>
                    <td>Canteen Sales</td>
                    <td>40,500</td>
                    <td>Canteen expenses</td>
                    <td>2,250</td>
                </tr>
                <tr>
                    <td>Donations</td>
                    <td>30,000</td>
                    <td>Secretary allowances</td>
                    <td>67,500</td>
                </tr>
                <tr>
                    <td>Dance ticket sales</td>
                    <td>27,000</td>
                    <td>Training fees</td>
                    <td>22,500</td>
                </tr>
                <tr>
                    <td>Investment Income</td>
                    <td>9,000</td>
                    <td>Groundsmen’s wages</td>
                    <td>18,000</td>
                </tr>
                <tr>
                    <td>Interest Income</td>
                    <td>5,400</td>
                    <td>Dance expenses</td>
                    <td>13,500</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Travel expenses</td>
                    <td>18,900</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Sports pavilion expenses</td>
                    <td>8,100</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Balance carried forward</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Bank</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Cash</td>
                    <td>42,450</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <p>1. The following balances were available as at 30th June</p>
            <table >
                <tr>
                    <th></th>
                    <th>2018</th>
                    <th>2019</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Sh”000”</td>
                    <td>Sh”000”</td>
                </tr>
                <tr>
                    <td>Club house</td>
                    <td>153,000</td>
                    <td>153,000</td>
                </tr>
                <tr>
                    <td>Sports Equipment</td>
                    <td>36,000</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>Furniture and fitting (at cost)</td>
                    <td>9,000</td>
                    <td>11,250</td>
                </tr>
                <tr>
                    <td>Canteen inventory</td>
                    <td>27,000</td>
                    <td>27,000</td>
                </tr>
                <tr>
                    <td>Subscriptions in arrears</td>
                    <td>10,800</td>
                    <td>12,600</td>
                </tr>
                <tr>
                    <td>Subscriptions in advance</td>
                    <td>8,100</td>
                    <td>20,700</td>
                </tr>
                <tr>
                    <td>Outstanding electricity and water expenses</td>
                    <td>1,350</td>
                    <td>3,300</td>
                </tr>
                <tr>
                    <td>Canteen payables</td>
                    <td>4,050</td>
                    <td>5,400</td>
                </tr>
                <tr>
                    <td>Accumulated depreciation</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sports equipment</td>
                    <td>12,600</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>Furniture and fittings</td>
                    <td>8,100</td>
                    <td>?</td>
                </tr>
                <tr>
                    <td>Investment (at cost)</td>
                    <td>36,000</td>
                    <td>36,000</td>
                </tr>
            </table>
            <p>2. Subscriptions received by the club during the year ended 30th June 2019 are as follows:</p>
            <table >
                <tr>
                    <th>Year</th>
                    <th>Sh. “000”</th>
                </tr>
                <tr>
                    <td>2018</td>
                    <td>9,000</td>
                </tr>
                <tr>
                    <td>2019</td>
                    <td>114,300</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>20,700</td>
                </tr>
            </table>
            <p>3. The club decided to write off subscriptions arrears amounting to sh.9,000,000.</p>
            <p>4. Canteen sales amounting to sh. 4,500,000 in cash were omitted from the records. </p>
            <p>5. Depreciation is charged on a straight-line basis as follows:</p>
            <table >
                <tr>
                    <th>Asset</th>
                    <th>Rate</th>
                </tr>
                <tr>
                    <td>Sports equipment</td>
                    <td>20% annum</td>
                </tr>
                <tr>
                    <td>Furniture and fittings</td>
                    <td>10% annum</td>
                </tr>
            </table>
            <p>6. During the year ended 30 June 2019,, sports equipment was disposed of at sh. 9,000,000 on credit. The equipment had cost of Sh. 18,000,000 and had been in use for two years. </p>
            <p>7. During the year ended 30 June 2019, the club house was extended at a cost of sh. 18,000,000. This was recorded in the books. </p>
            <p><strong>Required</strong></p>
            <p>a) Canteen income statement for the year ended 30th June 2019.  (4 marks)</p>
            <p>b) Income and expenditure statement for the year ended 30th June 2019.  (8 marks)</p>
            <p>c) Statement of financial position as at 30th June 2019 (8 marks) </p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://youtu.be/RrIuckBAoJw"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>a) Highlight the five factors that an organization might consider when sourcing for accounting software</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>b) Identify five features of a public sector entity</p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
            <p>c) The following transactions relate to the sales ledger of Joy Jibu for the year ended 30th September 2019:</p>
            <table >
                <tr>
                    <th></th>
                    <th>Sh”000”</th>
                </tr>
                <tr>
                    <td>Balance on sales ledger control account (1 October 2018)</td>
                    <td>124,950</td>
                </tr>
                <tr>
                    <td>Sales</td>
                    <td>1,046,920</td>
                </tr>
                <tr>
                    <td>Receipts</td>
                    <td>972,594</td>
                </tr>
                <tr>
                    <td>Discount allowed</td>
                    <td>25,438</td>
                </tr>
            </table>
            <p>There were no credit balances on the ledger cards. </p>
            <p><strong>Additional Information</strong></p>
            <p>1. The bank statement showed a credit transfer of sh.2,772,000 which has been omitted. </p>
            <p>2. Debts settled by set-off against accounts payable of sh.40,544,000 had been omitted as at 30th September 2019. </p>
            <p>3. As at 30th September 2019, bad debts of Sh.8,960,000 had been recorded in the control account </p>
            <p>4. Cash received of Sh. 16,422,000 was recorded in the control; account. It was later discovered that this was not a sale goods, but disposal of motor vehicles. </p>
            <p><strong>Required</strong></p>
            <p>Sales ledger accounts for the year ended 30th September 2019   (10 marks) </p>
            <!-- Answer button start -->
            <div class="clk2">
                <div></div>
                <div>
                    <a href="https://youtu.be/4g36gWpyzqg"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            <!-- Answer button end -->
        </div>            
    </div>
    <div></div>
</div>

{% endblock content %}