{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Taxation Question Paper - November 2018</h5>
        <p><strong>Answer ALL questions. Marks allocated to each question are shown at the end of the question. Show ALL your workings. Any assumptions made must be clearly and concisely stated.</strong></p>
        <div class="three">
            <h6><strong>RATES OF TAX (Including wife's employment, self-employment and professional income rates of tax). Year of income 2018.</strong></h6>
            <table>
                <tr>
                    <th>Monthly taxable pay<br>Sh.</th>
                    <th>Annual taxable pay<br>Sh.</th>
                    <th>Rate of tax<br>% in each Sh.</th>
                </tr>
                <tr>
                    <td>1	-	12,298</td>
                    <td>1	-	147,580</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>12,299	-	23,885</td>
                    <td>147,581	-	286,623</td>
                    <td>15%</td>
                </tr>
                <tr>
                    <td>23,886	35,472</td>
                    <td>286,624	-	425,666</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>35,473	-	47,059</td>
                    <td>425,667	-	564,709</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Excess over	-	47,059</td>
                    <td>Excess over .	-	564,709</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td><strong>Personal relief Sh.1,408 per month (Sh.16,896 per annum).</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                
            </table>
            <p><strong>Prescribed benefit rates of motor vehicles provided by employer</strong></p>
            <table>
                <tr>
                    <th><strong>(i)	Saloons, Hatch Backs and Estates</strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td>Up to	1200 cc</td>
                    <td>3,600</td>
                    <td>43,200</td>
                </tr>
                <tr>
                    <td>1201	1500 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>
                <tr>
                    <td>1501	1750 cc</td>
                    <td>5,800</td>
                    <td>69,600</td>
                </tr>
                <tr>
                    <td>1751	2000 cc</td>
                    <td>7,200</td>
                    <td>86,400</td>
                </tr>
                <tr>
                    <td>2001	3000 cc</td>
                    <td>8,600</td>
                    <td>103,200</td>
                </tr>
                <tr>
                    <td>Over	3000 cc</td>
                    <td>14,400</td>
                    <td>172,800</td>
                </tr>
                <tr>
                    <th><strong>(ii) Pick-ups, Panel Vans (unconverted) </strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td>Up to	1750 cc</td>
                    <td>3,600</td>
                    <td>43,200</td>
                </tr>
                <tr>
                    <td>Over 1750 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>
                <tr>
                    <th><strong>(iii)	Land Rovers/Cruisers </strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td></td>
                    <td>7,200</td>
                    <td>86,400</td>
                </tr>
                <tr>
                    <td>Over 1750 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>  
            </table>
            <p><strong>Capital allowance:</strong></p>
            <table>
                <tr>
                    <th><strong>Class</strong></th>
                    <th><strong>Rate</strong></th>
                </tr>
                <tr>
                    <td>Class I</td>
                    <td>37.5%</td>
                </tr>
                <tr>
                    <td>Class II</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td>Class III</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Class IV</td>
                    <td>12.5%</td>
                </tr>
                <tr>
                    <td>Software</td>
                    <td>20%</td>
                </tr>
            </table>
            <p><strong>Industrial building allowance:</strong></p>
            <table>
                <tr>
                    <th><strong></strong></th>
                    <th><strong></strong></th>
                </tr>
                <tr>
                    <td>Up to 2009</td>
                    <td>2.5%</td>
                </tr>
                <tr>
                    <td>From 1 January 2010</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Hotels</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Hostels/Education/Film producers buildings</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>From 1 January 2010 -Commercial building: <br>(Shop, office or show room)</td>
                    <td>25%</td>
                </tr>
            </table>
            <p><strong>Farm works allowance ====	100%</strong></p>
            <p><strong>Investment deduction allowance ====	100%</strong></p>
            <p><strong>Shipping, investment deduction (Ships over 125 tonnes) ====	100%</strong></p>
            <p><strong>Extraction expenditure: ====	Written off over 5 years (20%)</strong></p>
            <table>
                <tr>
                    <th><strong>Commissioner's prescribed benefit rates</strong></th>
                    <th>Monthly rates<br> Sh. </th>
                    <th>Annual rates<br> Sh. </th>
                </tr>
                <tr>
                    <td><strong>Services</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>(i)	Electricity (Communal or from a generator)</td>
                    <td>1,500</td>
                    <td>18,000</td>
                </tr>
                <tr>
                    <td>(ii)	Water (Communal or from a borehole)</td>
                    <td>500</td>
                    <td>6,000</td>
                </tr>
                <tr>
                    <td><strong>Agriculture employees: Reduced rates of benefits</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>(i)	Water</td>
                    <td>200</td>
                    <td>2,400</td>
                </tr>
                <tr>
                    <td>(ii)	Electricity</td>
                    <td>900</td>
                    <td>10,800</td>
                </tr>
            </table>
            
            
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question One</h5>
            <p>The Public Finance Management Act requires that all payments from the consolidated fund should be authorised and comply with certain general rules.</p>
            <p>With reference to the above statement, outline two ways of authorising payments out of the consolidated fund. (4 marks)</p>
            <p>b)	According to the Public Procurement and Asset Disposal (PPAD) Act, open tendering should be the preferred procurement method for procurement of goods, works and services. The procuring entity may use an alternative procurement procedure only if that procedure is allowed and satisfies the conditions under the Act for use of that method.</p>
            <ol>
                <li>(i)	With reference to the above statement:</li>
                <p>Explain three circumstances under which open tendering might not be appropriate.	(6 marks)</p>
                <li>(ii)	Suggest four methods of procurement as provided under PPAD Act other than the open tendering process.  (4 marks)</li>
            </ol>
            <p>(c)	Discuss three roles played by the senate or equivalent institution in your country in relation to public finance  management.	(6 marks)</p>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Explain the meaning of "Appropriation Act" as provided under the Public Finance Management Act.	(2 marks)</p>
            <p>(b)	For the past few years, most of the counties revenue generation has stagnated or even declined although the economy's gross domestic product (GDP) has grown within the same period.</p>
            <p>Propose four causes to which this underperformance in revenue collection by the counties or similar devolved units in your country could be attributed.	(8 marks)</p>
            <p>(c)	Bandika Ltd., a company dealing in a variety of value added tax (VAT) designated goods, was registered for VATS purposes on 1 March 2018.</p>
            <p>The following transactions were recorded for the month of March 2018:</p>
            <ol>
                <li>March 10: Opening stock 9,200 units valued at Sh.85 per unit.</li>
                <li>March 5:	Imported 10,000 units at Sh.80 per unit being cost, insurance and freight (CIF).</li>
                <li>March 8:	Purchased 5,000 units from the local market at Sh.60 per unit.</li>
                <li>March 9:	Sold 6,000 units at Sh.90 per unit. March 12:	Purchased office furniture for Sh.40,000 for use in the business.</li>
                <li>March 15: Paid Sh.10,000 for photocopy and printing of office documents.</li>
                <li>March 18:	Supplied 30,000 units to a department in the National Treasury at a price of Sh.85 per unit.</li>
                <li>March 20: Sold 2,500 units at Sh.90 per unit to a company in Uganda.</li>
                <li>March 23:	Purchased on credit 2,500 units locally at Sh.80 per unit before deducting a cash discount of 5%.</li>
                <li>March 27: The directors' appropriated goods valued at Sh.320,000 which were not paid for.</li>
                <li>March 28:	Paid electricity expense of Sh.15,000 and telephone expense of Sh.6,000.</li>            
            </ol>
            <p>All transactions were inclusive of VAT at the rate of 16% where applicable, unless otherwise specified. </p>
            <p>Assume the rate of import duty is 20%.</p>
            <p><strong>Required</strong></p>
            <p>A value added tax (VAT) account for the month of March 2018 for Bandika Ltd.	(10 marks)</p>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        
        <div class="three">
            <h5>Question Three</h5>
            <p>a) Fiscal policy influences both the pattern of economic activities and also the level and growth of aggregate demand, output and employment.</p>
            <p><strong>Required</strong></p>
            <p>Summarise four ways through which taxation could be used as a tool of fiscal policy in your country.	(8 marks)</p>
            <p>b) Beckham Atondo retired as a marketing manager from Bright Insurance Company Limited on 30 September 2017 after serving the company for 20 years and received a lumpsum pension of Sh.1,580,000.</p>
            <p>He has provided the following information on his employment and other income for the year ended 31 December 2017:</p>
            <ol>
                <li>Basic salary and other allowances:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Basic salary per month</td>
                        <td>160,000 (Monthly PAYE Sh.42,000)</td>
                    </tr>
                    <tr>
                        <td>Monthly responsibility allowance</td>
                        <td>42,000</td>
                    </tr>
                    <tr>
                        <td>Bonus paid in June 2017</td>
                        <td>250,000</td>
                    </tr>
                    <tr>
                        <td>Monthly risk allowance</td>
                        <td>35,000</td>
                    </tr>
                </table>
                <li>During his employment, the company paid his monthly electricity, water and telephone bills averaging to Sh.22,000, Sh.18,500 and Sh.16,000 respectively.</li>
                <li>The company paid Sh.320,000 to cover for Atondo's family life insurance premiums during his employment period in the year ended 31 December 2017.</li>
                <li>He contributed Sh.18,000 per month towards a registered Home Ownership Saving Plan (HOSP) during his employment period at Bright Insurance Company.</li>
                <li>In October 2017, he invested half of his pension income in a taxi services business. His records from the taxi services business indicated a net profit of Sh.120,000.</li>
                <p>The following expenses had been charged in the books during the three month period for year ended31 December 2017 relating to the taxi business:	Sh.</p>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Repairs and maintenance</td>
                        <td>180,000</td>
                    </tr>
                    <tr>
                        <td>Depreciation</td>
                        <td>60,000</td>
                    </tr>
                    <tr>
                        <td>Fuels and lubricants</td>
                        <td>240,000</td>
                    </tr>
                    <tr>
                        <td>Parking fines</td>
                        <td>42,000</td>
                    </tr>
                    <tr>
                        <td>Driver's salaries</td>
                        <td>64,000</td>
                    </tr>
                    <tr>
                        <td>General provision for bad debts</td>
                        <td>26,000</td>
                    </tr>
                    <tr>
                        <td>Licences and registration</td>
                        <td>60,000</td>
                    </tr>
                    <tr>
                        <td>Replacement of car engine</td>
                        <td>260,000</td>
                    </tr>
                    <tr>
                        <td>Motor vehicle inspection</td>
                        <td>25,000</td>
                    </tr>
                </table>
            </ol>
            <p><strong>Required</strong></p>
            <ol>
                <li>Taxable income of Beckham Atondo for the year ended 31 December 2017.	(10	marks)</li>
                <li>Tax payable (if any) from the income computed in (b)(i) above.		(2 marks) </li>
            </ol>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Four</h5>
            <p>a) Highlight the reasons why an importer is required to fill an import declaration form (2 marks) </p>
            <p>(b)	Morris Kwachu applied for a licence to commence manufacturing business dealing in excisable goods. The Commissioner refused to issue him with a licence.</p>
            <p>Advise him on four grounds under which the Commissioner might refuse to issue the applicant with a licence as provided under the Excise Duty Act. (4 marks)</p>
            <p>(c)	Benard, Cosmas and Korrir are partners, operating a chain of retail shops.	They share profits or losses in the ratio 2:2:1 respectively.	During the year ended 31	December 2017, the partners reported	a loss of Sh.2,542,000 after  deducting the following:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                </tr>
                <tr>
                    <td>Interest on capital: Benard</td>
                    <td>135,000</td>
                </tr>
                <tr>
                    <td>Interest on capital: Cosmas</td>
                    <td>135,000</td>
                </tr>
                <tr>
                    <td>Interest on capital: Korir</td>
                    <td>215,000</td>
                </tr>
                <tr>
                    <td>Salaries to partners:Benard</td>
                    <td>400,000</td>
                </tr>
                <tr>
                    <td>Salaries to partners: Cosmas</td>
                    <td>320,000</td>
                </tr>
                <tr>
                    <td>Salaries to partners: Korir</td>
                    <td>576,000</td>
                </tr>
                <tr>
                    <td>Motor vehicle repairs</td>
                    <td>526,000</td>
                </tr>
                <tr>
                    <td>General repairs and maintenance</td>
                    <td>120,000</td>
                </tr>
                <tr>
                    <td>Office and Sundry expenses</td>
                    <td>260,000</td>
                </tr>
                <tr>
                    <td>Goodwill impairment</td>
                    <td>340,000</td>
                </tr>
                <tr>
                    <td>Loss on disposal of motor vehicle</td>
                    <td>385,000</td>
                </tr>
                <tr>
                    <td>Postage and telephone</td>
                    <td>180,000</td>
                </tr>
                <tr>
                    <td>Water and electricity</td>
                    <td>146,000</td>
                </tr>
                <tr>
                    <td>Subscription to Wananchi Golf Club</td>
                    <td>105,000</td>
                </tr>
                <tr>
                    <td>Donations</td>
                    <td>240,000</td>
                </tr>
                <tr>
                    <td>Bad debts written off</td>
                    <td>346,000</td>
                </tr>
                <tr>
                    <td>Rent, rates and licences</td>
                    <td>180,000</td>
                </tr>
                <tr>
                    <td>Accountancy services</td>
                    <td>325,000</td>
                </tr>
                <tr>
                    <td>Depreciation</td>
                    <td>845,000</td>
                </tr>
                <tr>
                    <td>Purchase of pickup</td>
                    <td>1,500,000</td>
                </tr>
                <tr>
                    <td>Transport cost</td>
                    <td>340,000</td>
                </tr>
                <tr>
                    <td>Insurance of motor vehicles</td>
                    <td>520,000</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ol>
                <li>Office and sundry expenses included cost of office cabinet of Sh.90,000.</li>
                <li>Transport cost included Sh.10,000 per month relating to personal use.</li>
                <li>Provision for bad and doubtful debts account:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Bad debts</td>
                        <td>246,000</td>
                        <td>General (brought forward)</td>
                        <td>330,000</td>
                    </tr>
                    <tr>
                        <td>Specific (carried forward)</td>
                        <td>192,000</td>
                        <td>Specific (brought forward)</td>
                        <td>152,000</td>
                    </tr>
                    <tr>
                        <td>General (carried forward)</td>
                        <td>390,000</td>
                        <td>Profit and loss account</td>
                        <td>346,000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>828,000</td>
                        <td></td>
                        <td>828,000</td>
                    </tr>
                </table>
                <li>Wear and tear allowances agreed with the Commissioner amounted to Sh.1,236,000.</li>
                <li>Included in general repairs and maintenance is Sh.80,000 paid for the year 2018.</li>
            </ol>
            <p><strong>Required</strong></p>
            <ol>
                <li>The adjusted partnership profit or loss for the year ended 31 December 2017.	(10 marks)</li>
                <li>Distribution schedule of the profit or loss calculated in (c)(i) above.		(4 marks) </li>
            </ol>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	State four conditions that must be fulfilled for donations to be allowable deduction for tax purposes.	(4 marks) </p>
            <p>(b)	Outline four circumstances upon which the Commissioner of Domestic Tax may accept a late notice of objection On a tax payer</p>
            <p>(c)	Cherntech Ltd. was incorporated in March 2017 to manufacture edible oils. The company started its opdf-ations in  June 2017 after constructing the following structures:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                </tr>
                <tr>
                    <td>Factory building</td>
                    <td>2,600,000</td>
                </tr>
                <tr>
                    <td>Staff canteen</td>
                    <td>840,000</td>
                </tr>
                <tr>
                    <td>Drainage system</td>
                    <td>350,000</td>
                </tr>
                <tr>
                    <td>Stone perimeter wall</td>
                    <td>1,200,000</td>
                </tr>
                <tr>
                    <td>Labour quarters</td>
                    <td>1,800,000</td>
                </tr>
            </table>
            <p>The following assets were acquired by the company and put in use as from 1 July 2017:</p>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>Distribution van</td>
                    <td>2,300,000</td>
                </tr>
                <tr>
                    <td>Processing machinery</td>
                    <td>1,800,000</td>
                </tr>
                <tr>
                    <td>Furniture and fittings</td>
                    <td>860,000</td>
                </tr>
                <tr>
                    <td>Mercedes Benz Saloon (for the director)</td>
                    <td>3,400,000</td>
                </tr>
                <tr>
                    <td>Generator</td>
                    <td>420,000</td>
                </tr>
                <tr>
                    <td>Pick-up</td>
                    <td>1,200,000</td>
                </tr>
                <tr>
                    <td>Heating plant</td>
                    <td>830,000</td>
                </tr>
                <tr>
                    <td>Fax machines</td>
                    <td>180,000</td>
                </tr>
                <tr>
                    <td>Conveyor belts</td>
                    <td>650,000</td>
                </tr>
                <tr>
                    <td>Computers</td>
                    <td>320,000</td>
                </tr>
                <tr>
                    <td>Packaging machines</td>
                    <td>800,000</td>
                </tr>
                <tr>
                    <td>Two lorries (each 4 tonnes)</td>
                    <td>4,000,000</td>
                </tr>
                <tr>
                    <td>Photocopier machine</td>
                    <td>120,000</td>
                </tr>
                <tr>
                    <td>Forklift</td>
                    <td>960,000/td>
                </tr>
                <tr>
                    <td>Water pump</td>
                    <td>480,000</td>
                </tr>
                <tr>
                    <td>Laptop computers</td>
                    <td>260,000</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <ol>
                <li>A godown and a sports pavilion were constructed at a cost of Sh.890,000 and Sh.1.200,000 respectively and used with effect from 1 October 2017.</li>
                <li>The Director's Mercedes Benz was involved in an accident on 11 December 2017 and the insurance company compensated the company Sh.3,000,000 as the write off value.</li>
                <li>The company sunk a borehole at a cost of Sh.450,000 which was utilised from 1 November 2017.</li>
                <li>4.	A loading bay and an extension to the factory building were constructed and utilised with effect from 1 September 2017. The loading bay cost Sh.450,000 while the factory extension cost Sh.225,000.</li>
            </ol>
            <p><strong>Additional Information</strong></p>
            <p>Capital allowances due to Chemtech Ltd. for the year ended 31 December 2017.	(12 marks)</p>         
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div> 
        
        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)	With reference to the law of tort:</p>
            <ul>
                <li>State the meaning of the term "defamation".	(2 marks)</li>
                <li>Explain the two forms which defamation could take.	(4 marks)</li>
                <li>Discuss three essential aspects of the defence of fair comment in an action for defamation.	(6 marks)</li>
            </ul>
            <p>(b)	Explain four ways in which an insurance contract could be classified.	(8 marks)</p>  
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}