{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Taxation Question Paper - November 2019</h5>
        <p><strong>Answer ALL questions. Marks allocated to each question are shown at the end of the question. Show ALL your workings. Any assumptions made must be clearly and concisely stated.</strong></p>
        <div class="three">
            <h6><strong>RATES OF TAX (Including wife's employment, self-employment and professional income rates of tax). Year of income 2018.</strong></h6>
            <table>
                <tr>
                    <th>Monthly taxable pay<br>Sh.</th>
                    <th>Annual taxable pay<br>Sh.</th>
                    <th>Rate of tax<br>% in each Sh.</th>
                </tr>
                <tr>
                    <td>1	-	12,298</td>
                    <td>1	-	147,580</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>12,299	-	23,885</td>
                    <td>147,581	-	286,623</td>
                    <td>15%</td>
                </tr>
                <tr>
                    <td>23,886	35,472</td>
                    <td>286,624	-	425,666</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>35,473	-	47,059</td>
                    <td>425,667	-	564,709</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Excess over	-	47,059</td>
                    <td>Excess over .	-	564,709</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td><strong>Personal relief Sh.1,408 per month (Sh.16,896 per annum).</strong></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
            <p><strong>Prescribed benefit rates of motor vehicles provided by employer</strong></p>
            <table>
                <tr>
                    <th><strong>(i)	Saloons, Hatch Backs and Estates</strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td>Up to	1200 cc</td>
                    <td>3,600</td>
                    <td>43,200</td>
                </tr>
                <tr>
                    <td>1201	1500 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>
                <tr>
                    <td>1501	1750 cc</td>
                    <td>5,800</td>
                    <td>69,600</td>
                </tr>
                <tr>
                    <td>1751	2000 cc</td>
                    <td>7,200</td>
                    <td>86,400</td>
                </tr>
                <tr>
                    <td>2001	3000 cc</td>
                    <td>8,600</td>
                    <td>103,200</td>
                </tr>
                <tr>
                    <td>Over	3000 cc</td>
                    <td>14,400</td>
                    <td>172,800</td>
                </tr>
                <tr>
                    <th><strong>(ii) Pick-ups, Panel Vans (unconverted) </strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td>Up to	1750 cc</td>
                    <td>3,600</td>
                    <td>43,200</td>
                </tr>
                <tr>
                    <td>Over 1750 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>
                <tr>
                    <th><strong>(iii)	Land Rovers/Cruisers </strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td></td>
                    <td>7,200</td>
                    <td>86,400</td>
                </tr>
                <tr>
                    <td>Over 1750 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>  
            </table>
            <p><strong>Capital allowance:</strong></p>
            <table>
                <tr>
                    <th><strong>Class</strong></th>
                    <th><strong>Rate</strong></th>
                </tr>
                <tr>
                    <td>Class I</td>
                    <td>37.5%</td>
                </tr>
                <tr>
                    <td>Class II</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td>Class III</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Class IV</td>
                    <td>12.5%</td>
                </tr>
                <tr>
                    <td>Software</td>
                    <td>20%</td>
                </tr>
            </table>
            <p><strong>Industrial building allowance:</strong></p>
            <table>
                <tr>
                    <th><strong></strong></th>
                    <th><strong></strong></th>
                </tr>
                <tr>
                    <td>Up to 2009</td>
                    <td>2.5%</td>
                </tr>
                <tr>
                    <td>From 1 January 2010</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Hotels</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Hostels/Education/Film producers buildings</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>From 1 January 2010 -Commercial building: <br>(Shop, office or show room)</td>
                    <td>25%</td>
                </tr>
            </table>
            <p><strong>Farm works allowance ====	100%</strong></p>
            <p><strong>Investment deduction allowance ====	100%</strong></p>
            <p><strong>Shipping, investment deduction (Ships over 125 tonnes) ====	100%</strong></p>
            <p><strong>Extraction expenditure: ====	Written off over 5 years (20%)</strong></p>
            <table>
                <tr>
                    <th><strong>Commissioner's prescribed benefit rates</strong></th>
                    <th>Monthly rates<br> Sh. </th>
                    <th>Annual rates<br> Sh. </th>
                </tr>
                <tr>
                    <td><strong>Services</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>(i)	Electricity (Communal or from a generator)</td>
                    <td>1,500</td>
                    <td>18,000</td>
                </tr>
                <tr>
                    <td>(ii)	Water (Communal or from a borehole)</td>
                    <td>500</td>
                    <td>6,000</td>
                </tr>
                <tr>
                    <td><strong>Agriculture employees: Reduced rates of benefits</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>(i)	Water</td>
                    <td>200</td>
                    <td>2,400</td>
                </tr>
                <tr>
                    <td>(ii)	Electricity</td>
                    <td>900</td>
                    <td>10,800</td>
                </tr>
            </table>
           
         
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question One</h5>
            <p>(a)	Budgetary rules exercise effective control over government entities in public spending and accountability.</p>
            <p>With reference to the above statement, identify four ways used by the national government to demand budgetary accountability by the government entities.	(4 marks)</p>
            <p>(b)	Outline four purposes of Public Finance Management Equalization Fund Regulations, 2015.	(4 marks)</p>
            <p>(c)	Citing three reasons, justify the importance of information contained in the circulars guiding the budget processes forcounty governments.	(6 marks)</p>
            <p>(d)	Describe three functions performed by the Internal Auditor-General Department of the National Treasury in conducting internal auditing of government entities.	(6 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Outline four contents of information that the National Treasury should include in the financial statements in respect to the Contingencies Fund submitted to the Auditor-General.	(4 marks)</p>
            <p>(b)	Summarise six benefits of applying e-procurement in the public sector.	(6 marks)</p>
            <p>(c)	The following transactions were extracted from the ledger balances of Sitima Traders, a registered business for value added tax (VAT) purposes for the month of September 2018:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                </tr>
                <tr>
                    <td>Purchases at standard rate</td>
                    <td>487,200</td>
                </tr>
                <tr>
                    <td>Audit fees</td>
                    <td>41,760</td>
                </tr>
                <tr>
                    <td>Exports to Malawi</td>
                    <td>400,000</td>
                </tr>
                <tr>
                    <td>Sales at standard rate</td>
                    <td>1,136,800</td>
                </tr>
                <tr>
                    <td>Purchases of printing materials</td>
                    <td>29,000</td>
                </tr>
                <tr>
                    <td>Fuel for delivery van</td>
                    <td>78,880</td>
                </tr>
                <tr>
                    <td>Exempt supplies</td>
                    <td>280,000</td>
                </tr>
                <tr>
                    <td>Catering for firm employees</td>
                    <td>81,200</td>
                </tr>
                <tr>
                    <td>Entertainment expenses</td>
                    <td>24,360</td>
                </tr>
                <tr>
                    <td>Telephone expenses</td>
                    <td>58,000</td>
                </tr>
                <tr>
                    <td>Payment of water bill</td>
                    <td>21,000</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <ol>
                <li>The firm received debit notes valued at Sh.23,200 in respect to erroneous invoices issued ► suppliers.</li>
                <li>The firm issued credit notes of Sh.20,880 to credit customers because of price adjustments</li>
                <li>Goods imported valued at a cost of Sh.500,000 were not recorded; Freight charges was Sh.40,000 and insurance Sh.20,000. Import duty was charged at 25%.</li>
                <li>A debtor of goods valued at Sh.32,480 was declared bankrupt, and the debt written off.</li>
                <li>The firm did not keep proper records for sales and purchases, therefore it was not possible to identify the state of goods sold as exempt.</li>
                <li>All transactions are inclusive of VAT at a rate of 16% where applicable.</li>
            </ol>
            <p><strong>Required</strong></p>
            <p>The value added tax (VAT) payable by (or refundable to) Sitima Traders for the month of September 2018. (10 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Outline four categories of goods which are subject to customs control under the Customs and Excise Act.	(4 marks)</p>
            <p>(b)	Loki Marete purchased an old building for Sh.2,400,000. The legal cost incurred on transfer was Sh.180,000 and the cost of valuation was Sh.160,000. Other costs included replacement of roof of the building at a cost of Sh.360,000 and cost of sewerage system Sh.78,000. The commissioner • accepted accumulated industrial building deduction at Sh.282,000. The building was later sold for Sh.5,840,000 after advertising several times in the newspaper at a cost of Sh.246,000.</p>
            <p><strong>Required</strong></p>
            <p>The capital gain tax payable by Loki Marete in respect to disposal of the building.	(4 marks)</p>
            <p>(c)	Halima All is a resident individual employed as a finance manager at Motech International Ltd.</p>
            <p>She provided the following information relating to her income for the year ended 31 December 2018</p>
            <ol>
                <li>Her employment contract indicated the following:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Basic monthly salary</td>
                        <td>250,000</td>
                    </tr>
                    <tr>
                        <td>Monthly hardship allowance</td>
                        <td>45,000</td>
                    </tr>
                    <tr>
                        <td>Monthly responsibility allowance</td>
                        <td>50,000</td>
                    </tr>
                    <tr>
                        <td>Monthly commuter allowance</td>
                        <td>25,000</td>
                    </tr>
                </table>
                <li>During the year, she received Sh.90,000 as a bonus for the previous years' reported profits.</li>
                <li>She made a donation of Sh.50,000 to the National Kidney Fund during the year.</li>
                <li>She was provided with a fully furnished apartment by the employer. The employer paid a monthly rent of Sh.80.000 and the cost of furniture was Sh.320,000.</li>
                <li>The employer paid her monthly medical insurance premiums of Sh.5,000 during the year.</li>
                <li>PAYE deducted from her monthly salary was Sh.68,000.</li>
                <li>The company provided her with a 2,500cc saloon car on 1 October 2018 for official and private use. The car had been purchased for Sh.1,800,000.</li>
                <li>She contributed Sh.15,000 per month towards a registered pension scheme.</li>
                <li>She obtained a mortgage loan for the purpose of constructing her residential house from the National Savings Bank. The loan amount was Sh.4,000,000 with a monthly repayment of Sh.232,000. During the year, the total interest paid on the loan was Sh.144,000. </li>
                <li>The company has a medical scheme for its managers. She was reimbursed Sh.380,000 during the year in respect of medical bills.</li>
                <li>During the year, she was voted as the best employee and the company rewarded her with a cash of Sh.60,000.</li>
                <li>The company paid her son's college fees amounting to Sh.120,000 during the year. This amount was treated as an allowable expense in the company's books of account.</li>
            </ol>
            <p><strong>Required</strong></p>
            <ol>
                <li>Taxable income of Halima Ali for the year ended 31 December 2018. (10 marks)</li>
                <li>Tax liability (if any) from the income computed in (c)(i) above. (2 marks)</li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>Pareto Ltd. has provided the following income statement for the year ended 31 December 2018:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                    <th><strong>Sh.</strong></th>
                </tr>
                <tr>
                    <td>Gross profit</td>
                    <td></td>
                    <td>6,290,000</td>
                </tr>
                <tr>
                    <td>Dividends (net)</td>
                    <td>675,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Foreign exchange gain</td>
                    <td>175,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rent received (commercial building)</td>
                    <td>580,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Interest received from Fahari Bank Ltd. (net)</td>
                    <td>289,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bad debts recovered</td>
                    <td>370,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Insurance claim</td>
                    <td>785,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Profit on sale of equipment</td>
                    <td>88,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sale of debentures</td>
                    <td>4,200,000</td>
                    <td>7,162,000</td>
                </tr>
                <tr>
                    <td>Total Income</td>
                    <td></td>
                    <td>13,452,000</td>
                </tr>
                <tr>
                    <td><strong>Less expenses:</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Salaries and wages</td>
                    <td>1,450,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Increase in provision for bad and doubtful debts</td>
                    <td>145,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Contribution to N.S.S.F.</td>
                    <td>78,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Advertising</td>
                    <td>710,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stationery</td>
                    <td>400,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Depreciation</td>
                    <td>280,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Subscriptions</td>
                    <td>1,140,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Trading loss</td>
                    <td>390,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Interest</td>
                    <td>760,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Transport</td>
                    <td>150,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Legal costs</td>
                    <td>365,000</td>
                    <td>(5,868,000)</td>
                </tr>
                <tr>
                    <td>Profit</td>
                    <td></td>
                    <td>7,584,000</td>
                </tr>
            </table>
            <p><strong>Additional Information/strong></strong></p>
            <ol>
                <li>Dividends comprise:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Dividends from Beta Ltd.</td>
                        <td>505,000</td>
                    </tr>
                    <tr>
                        <td>Dividends from Bona Cooperative Society</td>
                        <td>170,000</td>
                    </tr>
                </table>
                <li>Foreign exchange gain comprise:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Amount of realised foreign exchange gain</td>
                        <td>125,000</td>
                    </tr>
                    <tr>
                        <td>Amount of unrealised foreign exchange gain</td>
                        <td>50,000</td>
                    </tr>
                </table>
                <li>Bad debts recovered related to:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Bad debts on sale of furniture</td>
                        <td>130,000</td>
                    </tr>
                    <tr>
                        <td>Bad debts on credit sale of goods</td>
                        <td>240,000</td>
                    </tr>
                </table>
                <li>Insurance claim related to:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Insurance compensation on loss of profit</td>
                        <td>380,000</td>
                    </tr>
                    <tr>
                        <td>Insurance claim on loss of motor vehicle</td>
                        <td>405,000</td>
                    </tr>   
                </table>
                <li>Advertising comprise:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Advertising through daily newspapers</td>
                        <td>280,000</td>
                    </tr>
                    <tr>
                        <td>Advertising on passenger sheds at bus stops</td>
                        <td>430,000</td>
                    </tr>   
                </table>
                <li>Subscriptions related to:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Annual subscription fee to chamber of commerce and industry </td>
                        <td>530,000</td>
                    </tr>
                    <tr>
                        <td>Subscriptions to employees' sports club</td>
                        <td>610,000</td>
                    </tr>   
                </table>
                <li>Interest comprise:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Interest on debentures</td>
                        <td>580,000</td>
                    </tr>
                    <tr>
                        <td>Interest on loan acquired to build commercial rental houses </td>
                        <td>110,000</td>
                    </tr>
                    <tr>
                        <td>Interest on money borrowed to pay tax and penalties </td>
                        <td>70,000</td>
                    </tr>   
                </table>
                <li>Legal costs comprise:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Appeal to tax tribunal</td>
                        <td>155,000</td>
                    </tr>
                    <tr>
                        <td>Defending business property rights</td>
                        <td>120,000</td>
                    </tr> 
                    <tr>
                        <td>Registration of lease agreement (100 years)</td>
                        <td>90,000</td>
                    </tr>   
                </table>
                <li>Capital allowances were agreed with the commissioner of revenue authority at Sh. 960,000</li>
            </ol> 
            <p><strong>Required</strong></p>
            <p>Adjusted taxable income or loss for Pareto Ltd. for the year ended 31 December 2018</p>
            <p>Sawa Industries Ltd. manufactures personal hygiene soaps and related products. 1 April 2018 after incurring the following expenditure:</p>
            <table>
                <tr>
                    <th></th>
                    <th><srong>Sh.</srong></th>
                </tr>
                <tr>
                    <td>Factory building</td>
                    <td>5,200,000</td>
                </tr>
                <tr>
                    <td>Processing machinery</td>
                    <td>2,400,000</td>
                </tr>
                <tr>
                    <td>Furniture and fittings</td>
                    <td>980,000</td>
                </tr>
                <tr>
                    <td>Godown</td>
                    <td>1,800,000</td>
                </tr>
                <tr>
                    <td>Water pump</td>
                    <td>360,000</td>
                </tr>
                <tr>
                    <td>Motor vehicle (saloon)</td>
                    <td>1,600,000</td>
                </tr>
                <tr>
                    <td>Computers</td>
                    <td>450,000</td>
                </tr>
                <tr>
                    <td>Drainage system</td>
                    <td>320,000</td>
                </tr>
                <tr>
                    <td>Staff canteen</td>
                    <td>960,000</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <ol>
                <li>On 1 May 2018, the company imported a forklift for Sh.1,200,000 before VAT at the rate of 16% and import duty at 25%.</li>
                <li>A sports pavilion was constructed and utilised with effect from 1 October 2018. The total construction cost was Sh.650,000.</li>
                <li>A borehole was drilled at a cost of Sh.680,000 and utilised with effect from 1 November 2018.</li>
                <li>On 2 December 2018, the company acquired the following additional assets:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Photocopier</td>
                        <td>180,000</td>
                    </tr>
                    <tr>
                        <td>Pick-up</td>
                        <td>1,900,000</td>
                    </tr>
                    <tr>
                        <td>Cash registers</td>
                        <td>120,000</td>
                    </tr>
                    <tr>
                        <td>Conveyor belts</td>
                        <td>780,000</td>
                    </tr>
                    <tr>
                        <td>Fax machine</td>
                        <td>200,000</td>
                    </tr>
                    <tr>
                        <td>Office cabinets (wooden)</td>
                        <td>160,000</td>
                    </tr>
                    <tr>
                        <td>Boilers</td>
                        <td>920,000</td>
                    </tr>
                </table>
                <li>The saloon car was disposed of for Sh.1,200,000 in October 2018 and replaced with a delivery van costing Sh.1,500,000.</li>
                <li>Labour quarters were constructed at a cost of Sh.2,600,000 and the employees moved in the houses on 1 October 2018.</li>
                <p><strong>Required</strong></p>
                <p>Capital allowances due to Sawa Industries Ltd. for the year ended 31 December 2018.	(10 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	The Excisable Goods Management System Regulations require for affixing of excise stamps on every package of excisable goods.</p>
            <p>Identify two purposes of these stamps.	(2 marks)</p>
            <p>(b)	Discuss three measures that the government has undertaken to help reduce the number of tax appeals proceeding to court.	(6 marks)</p>
            <p>(c)	Soi and Timothy are brothers engaged in commercial farming. They have been running Mazao Farm as a partnership sharing profits and losses equally.</p>
            <p>The following is Mazao Farm's income statement for the year ended 31 December 2018:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                    <th><strong>Sh.</strong></th>
                </tr>
                <tr>
                    <td><strong>Income:</strong>></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Sale of fruits</td>
                    <td></td>
                    <td>1,050,000</td>
                </tr>
                <tr>
                    <td>Sale of livestock</td>
                    <td></td>
                    <td>1,550,000</td>
                </tr>
                <tr>
                    <td>Profit on sale of tractor</td>
                    <td></td>
                    <td>45,000</td>
                </tr>
                <tr>
                    <td>Sale of milk</td>
                    <td></td>
                    <td>480,000</td>
                </tr>
                <tr>
                    <td>Insurance claim</td>
                    <td></td>
                    <td>510,000</td>
                </tr>
                <tr>
                    <td>Discount received</td>
                    <td></td>
                    <td>80,000</td>
                </tr>
                <tr>
                    <td>Sale of manure</td>
                    <td></td>
                    <td>170,000</td>
                </tr>
                <tr>
                    <td>Interest received</td>
                    <td></td>
                    <td>90,000</td>
                </tr>
                <tr>
                    <td>Rental income</td>
                    <td></td>
                    <td>200,000</td>
                </tr>
                <tr>
                    <td>Total Income</td>
                    <td></td>
                    <td>4,175,000</td>
                </tr>
                <tr>
                    <td>Less Expenses</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Salaries</td>
                    <td>540,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Transport</td>
                    <td>70,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Drawings:	Soi</td>
                    <td>350,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Drawings:	Timothy</td>
                    <td>460,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fertilizers</td>
                    <td>510,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Construction of gabion</td>
                    <td>120,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Purchase of milking machine</td>
                    <td>200,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Subscriptions to agricultural research institute</td>
                    <td>155,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Interest</td>
                    <td>480,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mulching</td>
                    <td>60,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fuel</td>
                    <td>140,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rates</td>
                    <td>30,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Presumptive tax</td>
                    <td>45,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Legal costs</td>
                    <td>80,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Wages</td>
                    <td>620,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Clearing land for planting fruits</td>
                    <td>210,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Depreciation</td>
                    <td>15,000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Repairs and maintenance</td>
                    <td>54,000</td>
                    <td>(4,139,000)</td>
                </tr>
                <tr>
                    <td>Net Profit</td>
                    <td></td>
                    <td>36,000</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ol>
                <li>Sale of fruits and sale of milk include own consumption of Sh.30,000 and Sh.50,000 for Soi and Timothy respectively.</li>
                <li>Interest received relates to interest earned from Kenya Post Office Savings Bank (Postbank).</li>
                <li>Insurance claim is in connection with a partial destruction of the farm house.</li>
                <li>Salaries relate to salaries paid to partners as follows:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Soi</td>
                        <td>240,000</td>
                    </tr>
                    <tr>
                        <td>Timothy</td>
                        <td>300,000</td>
                    </tr>
                </table>
                <li>Rates relate to the rental income from commercial building.</li>
                <li>Interest expense include interest on capital to partners as follows: </li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Soi</td>
                        <td>105,000</td>
                    </tr>
                    <tr>
                        <td>Timothy</td>
                        <td>125,000</td>
                    </tr>
                </table>
                <li>Legal costs related to:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Tax appeal</td>
                        <td>35,000</td>
                    </tr>
                    <tr>
                        <td>Recovery of bad debts</td>
                        <td>22,000</td>
                    </tr>
                    <tr>
                        <td>Defending Soi for breach of contract</td>
                        <td>23,000</td>
                    </tr>
                </table>
                <li>The following farm works were constructed and Rut to use on 1 July 2018: </li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Silo</td>
                        <td>40,000</td>
                    </tr>
                    <tr>
                        <td>Irrigation network</td>
                        <td>75,000</td>
                    </tr>
                    <tr>
                        <td>Cattle dip</td>
                        <td>150,000</td>
                    </tr>
                </table>
                <li>Interest on drawings was charged at the rate of 10%.</li>
                <p><strong>Required</strong></p>
                <ol>
                    <li>Adjusted taxable profit or loss for the year ended 31 December 2018. ( 8 marks)</li>
                    <li>A schedule showing the distribution of the partner's profit or loss computed in (c)(i) above.	(4 marks)</li>
                </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
    </div>
    <div></div>
</div>

{% endblock content %}