{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Law Question Paper - November 2019</h5>
        <p><strong>Answer ALL questions. Marks allocated to each question are shown at the end of the question. Show ALL your workings. Any assumptions made must be clearly and concisely stated.</strong></p>
        <div class="three">
            <h6><strong>RATES OF TAX (Including wife's employment, self-employment and professional income rates of tax). Year of income 2018.</strong></h6>
            <table>
                <tr>
                    <th>Monthly taxable pay<br>Sh.</th>
                    <th>Annual taxable pay<br>Sh.</th>
                    <th>Rate of tax<br>% in each Sh.</th>
                </tr>
                <tr>
                    <td>1	-	12,298</td>
                    <td>1	-	147,580</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>12,299	-	23,885</td>
                    <td>147,581	-	286,623</td>
                    <td>15%</td>
                </tr>
                <tr>
                    <td>23,886	35,472</td>
                    <td>286,624	-	425,666</td>
                    <td>20%</td>
                </tr>
                <tr>
                    <td>35,473	-	47,059</td>
                    <td>425,667	-	564,709</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Excess over	-	47,059</td>
                    <td>Excess over .	-	564,709</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td><strong>Personal relief Sh.1,408 per month (Sh.16,896 per annum).</strong></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
            <p><strong>Prescribed benefit rates of motor vehicles provided by employer</strong></p>
            <table>
                <tr>
                    <th><strong>(i)	Saloons, Hatch Backs and Estates</strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td>Up to	1200 cc</td>
                    <td>3,600</td>
                    <td>43,200</td>
                </tr>
                <tr>
                    <td>1201	1500 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>
                <tr>
                    <td>1501	1750 cc</td>
                    <td>5,800</td>
                    <td>69,600</td>
                </tr>
                <tr>
                    <td>1751	2000 cc</td>
                    <td>7,200</td>
                    <td>86,400</td>
                </tr>
                <tr>
                    <td>2001	3000 cc</td>
                    <td>8,600</td>
                    <td>103,200</td>
                </tr>
                <tr>
                    <td>Over	3000 cc</td>
                    <td>14,400</td>
                    <td>172,800</td>
                </tr>
                <tr>
                    <th><strong>(ii) Pick-ups, Panel Vans (unconverted) </strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td>Up to	1750 cc</td>
                    <td>3,600</td>
                    <td>43,200</td>
                </tr>
                <tr>
                    <td>Over 1750 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>
                <tr>
                    <th><strong>(iii)	Land Rovers/Cruisers </strong></th>
                    <th>Monthly rates<br>Sh.</th>
                    <th>Annulal rates<br>Sh.</th>
                </tr>
                <tr>
                    <td></td>
                    <td>7,200</td>
                    <td>86,400</td>
                </tr>
                <tr>
                    <td>Over 1750 cc</td>
                    <td>4,200</td>
                    <td>50,400</td>
                </tr>  
            </table>
            <p><strong>Capital allowance:</strong></p>
            <table>
                <tr>
                    <th><strong>Class</strong></th>
                    <th><strong>Rate</strong></th>
                </tr>
                <tr>
                    <td>Class I</td>
                    <td>37.5%</td>
                </tr>
                <tr>
                    <td>Class II</td>
                    <td>30%</td>
                </tr>
                <tr>
                    <td>Class III</td>
                    <td>25%</td>
                </tr>
                <tr>
                    <td>Class IV</td>
                    <td>12.5%</td>
                </tr>
                <tr>
                    <td>Software</td>
                    <td>20%</td>
                </tr>
            </table>
            <p><strong>Industrial building allowance:</strong></p>
            <table>
                <tr>
                    <th><strong></strong></th>
                    <th><strong></strong></th>
                </tr>
                <tr>
                    <td>Up to 2009</td>
                    <td>2.5%</td>
                </tr>
                <tr>
                    <td>From 1 January 2010</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Hotels</td>
                    <td>10%</td>
                </tr>
                <tr>
                    <td>Hostels/Education/Film producers buildings</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>From 1 January 2010 -Commercial building: <br>(Shop, office or show room)</td>
                    <td>25%</td>
                </tr>
            </table>
            <p><strong>Farm works allowance ====	100%</strong></p>
            <p><strong>Investment deduction allowance ====	100%</strong></p>
            <p><strong>Shipping, investment deduction (Ships over 125 tonnes) ====	100%</strong></p>
            <p><strong>Extraction expenditure: ====	Written off over 5 years (20%)</strong></p>
            <table>
                <tr>
                    <th><strong>Commissioner's prescribed benefit rates</strong></th>
                    <th>Monthly rates<br> Sh. </th>
                    <th>Annual rates<br> Sh. </th>
                </tr>
                <tr>
                    <td><strong>Services</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>(i)	Electricity (Communal or from a generator)</td>
                    <td>1,500</td>
                    <td>18,000</td>
                </tr>
                <tr>
                    <td>(ii)	Water (Communal or from a borehole)</td>
                    <td>500</td>
                    <td>6,000</td>
                </tr>
                <tr>
                    <td><strong>Agriculture employees: Reduced rates of benefits</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>(i)	Water</td>
                    <td>200</td>
                    <td>2,400</td>
                </tr>
                <tr>
                    <td>(ii)	Electricity</td>
                    <td>900</td>
                    <td>10,800</td>
                </tr>
            </table>
           
         
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	Summarise the five roles of the County Assembly in public finance management (5 marks)</p>
            <p>(b) Propose five sources of revenue for county governments. (5 marks)</p>
            <p>(c) Outline the stages to be followed in the budget process forth' e National Government in any financial year. (10 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Identify three ad hoc committees that a county procuring entity could establish to ensure that procurement and asset disposal is done in accordance with the County Governments Procurement Regulations.	(3 marks)</p>
            <p>(b)	Discuss five roles of the National Treasury in relation to procurement and asset disposal as outlined in the Public Procurement and Asset Disposal Act.	(5 marks)</p>
            <p>(c)	The following are summaries of the details of the sales day book, purchases day book and the cash book of Kamata Ltd. for the month of December 2018:</p>
            <p><strong>Sales Day Book</strong></p>
            <table>
                <tr>
                    <th><strong>Date</strong></th>
                    <th><strong>Details</strong></th>
                    <th><strong>Folio</strong></th>
                    <th><strong>Amount (Sh)</strong></th>
                </tr>
                <tr>
                    <td>December 4</td>
                    <td>Mwangaza Ltd</td>
                    <td>1002</td>
                    <td>650,000</td>
                </tr>
                <tr>
                    <td>December 7</td>
                    <td>J. Kamau</td>
                    <td>1003</td>
                    <td>520,000</td>
                </tr>
                <tr>
                    <td>December 14</td>
                    <td>Hazina Enterprises (export)</td>
                    <td>1004</td>
                    <td>350,000</td>
                </tr>
                <tr>
                    <td>December 20</td>
                    <td>Ministry of Sports</td>
                    <td>1005</td>
                    <td>170,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td>1,690,000</td>
                </tr>
            </table>
            <p><strong>Purchases Day Book</strong></p>
            <table>
                <tr>
                    <th><strong>Date</strong></th>
                    <th><strong>Details</strong></th>
                    <th><strong>Folio</strong></th>
                    <th><strong>Amount (Sh)</strong></th>
                </tr>
                <tr>
                    <td>December 1</td>
                    <td>Jawabu Enterprise</td>
                    <td>2004</td>
                    <td>300,000</td>
                </tr>
                <tr>
                    <td>December 6</td>
                    <td>Sonytec Ltd. (imports)</td>
                    <td>2006</td>
                    <td>420,000</td>
                </tr>
                <tr>
                    <td>December 12</td>
                    <td>N. Kaluma</td>
                    <td>2007</td>
                    <td>200,000</td>
                </tr>
                <tr>
                    <td>December 27</td>
                    <td>B. Salama</td>
                    <td>2008</td>
                    <td>180,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>Total</strong></td>
                    <td></td>
                    <td>1,100,000</td>
                </tr>
            </table>
            <p><strong>Cash Book</strong></p>
            <table>
            <tr>
                <th></th>
                <th><strong>Debit Side</strong></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><strong>Credit Side</strong></th>
                <th></th>
            </tr>
            <tr>
                <td><strong>Date</strong></td>
                <td><strong>Details</strong></td>
                <td><strong>Cash</strong></td>
                <td><strong>Bank</strong></td>
                <td><strong>Date</strong></td>
                <td><strong>Details</strong></td>
                <td><strong>Cash</strong></td>
                <td><strong>Bank</strong></td>
            </tr>
            <tr>
                <td>December 5</td>
                <td>Sales</td>
                <td>960,000</td>
                <td>450,000</td>
                <td>December 2</td>
                <td>Salaries and Wages</td>
                <td>-</td>
                <td>1,800,000</td>
            </tr>
            <tr>
                <td>December 15</td>
                <td>Receipts from debtors</td>
                <td>800,000</td>
                <td>4,200,000</td>
                <td>December 4</td>
                <td>catering Expenses</td>
                <td>120,000</td>
                <td><strong>-</strong></td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td>December 5</td>
                <td>Purchases</td>
                <td>580,000</td>
                <td>640,000</td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td>December 7</td>
                <td>Furniture</td>
                <td><strong></strong></td>
                <td>160,000</td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td>December 9</td>
                <td>32,000</td>
                <td><strong></strong></td>
                <td><strong></strong></td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td>December 14</td>
                <td>Photocopying</td>
                <td>24,000</td>
                <td><strong></strong></td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td>December 22</td>
                <td>Refund to customers</td>
                <td><strong></strong></td>
                <td>176,000</td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td>December 30</td>
                <td>Balance c/d</td>
                <td>1,004,000</td>
                <td>1,874,000</td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong>1,760,000</strong></td>
                <td><strong>4,650,000</strong></td>
                <td><strong></strong></td>
                <td><strong></strong></td>
                <td><strong>1,760,000</strong></td>
                <td><strong>4,650,000</strong></td>
            </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <ol>
                <li>J. Kamauwas declared bankrupt on 18 December 2018 after having paid Sh.400,000 for the goods pure on 7 December 2018.</li>
                <li>Ten per cent of the purchase from Jawabu Enterprises were returned by the company due to poor quality.</li>
                <li>Credit notes amounting to Sh.280,000 were issued to customers during the month.</li>
                <li>Refund to the customers in the cashbook relates to the excess amounts paid on cash sales.</li>
                <li>A purchase invoice of Sh.220,000 from Dubai Traders was omitted from the purchases daybook.</li>
                <li>All the above transactions are exclusive of VAT at the standard rate of 16%.</li>
            </ol>
            <p><strong>Required</strong></p>
            <p>Prepare a VAT account for the month of December 2018 showing the VAT payable or refundable, if any. (12 marks</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	In a tax seminar one of the facilitators noted that, "The Tax Procedures Act 2015, specifies on information that the Commissioner should include in the default assessment to a taxpayer".</p>
            <p>With reference to the above statement, outline five categories of such information.	(5 marks)</p>
            <p>(b)	Suleiman Kombo is employed as the Managing Director of Utamu Distributors Ltd., a tax exempt company. During the year ended 31 December 2018, he presented the following information:</p>
            <ol>
                <li>His basic salary was Sh.120,000 per month (PAYE Sh. 48,000 per month).</li>
                <li>He was provided with lunch by the employer from 1 August 2018 of Sh.4,800 per month.</li>
                <li>He was provided with a fully furnished house fitted with water and electricity. The employer paid a monthly rent .of Sh.45,000. He was deducted 10% of his basic monthly salary for rent. The cost of furniture was Sh.300,000 while the monthly electricity and water bills was Sh.3,500 and Sh.2,800 respectively.</li>
                <li>The company paid for him life insurance premiums of Sh.6,000 per month for each member of his household from 1 September 2018. He had included himself, his wife and their son in the insurance policy.</li>
                <li>He contributed 10% of his monthly pay towards a registered pension scheme while the employer contributed 15% of his basic pay towards the same scheme.</li>
                <li>He enjoyed free medical treatment under a medical scheme operated by the company for all employees. His medical expenses were assessed at Sh.150,000 during the year.</li>
                <li>During the year the company paid a total of Sh.35,000 as school fees for his son studying in a County School. This amount was not included in the company's income statement during the year.</li>
                <li>On 1 August 2018, the company provided him with the following:</li>
                <ul>
                    <li>A Land Rover which was acquired at a cost of Sh.1,800,000 with an engine capacity of 3,000cc.</li>
                    <li>A gardener and a night watchman whose monthly salaries was Sh.12,500 and Sh.15,000 respectively.</li>
                </ul>
                <li>He invested in real estate and earned a net rental income of Sh.72,000 after deducting the following expenditure:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Caretaker's wages</td>
                        <td>120,000</td>
                    </tr>
                    <tr>
                        <td>Fencing</td>
                        <td>40,000</td>
                    </tr>
                    <tr>
                        <td>Loan repayment</td>
                        <td>320,000</td>
                    </tr>
                    <tr>
                        <td>Insurance rent and rates</td>
                        <td>48,000</td>
                    </tr>
                    <tr>
                        <td>Partitions</td>
                        <td>60,000</td>
                    </tr>
                    <tr>
                        <td>Capital allowances</td>
                        <td>22,000</td>
                    </tr>
                    <tr>
                        <td>Gross rental withholding tax paid</td>
                        <td>68,000</td>
                    </tr>
                </table>
                <li>10.	He received net dividends of Sh.42,500 from Maziwa Co-operative Society during the year.</li>
            </ol>
            <p><strong>Required</strong></p>
            <ul>
                <li>Total taxable income for Suleiman Kombo for the year ended 31 December 2018.	(10 marks)</li>
                <li>Tax payable (if any) from the income computed in (b) (i) above.	(3 marks)</li>
                <li>Comment on any information not used in your computations under (b) (i) above.		(2 marks) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Four</h5>
            <p>Dalbir Singh is a retired engineer. He set up a factory complex in industrial area on 30. September 2017 to fabrictated mechanical and auto spare parts at a cost of Sh.48 million.</p>
            <p>However, operations commenced on 1 January 2018.</p>
            <p>The cost comprised the following:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                </tr>
                <tr>
                    <td>Factory building</td>
                    <td>18,750,000</td>
                </tr>
                <tr>
                    <td>Office (within the factory building)</td>
                    <td>6,250,000</td>
                </tr>
                <tr>
                    <td>Reinforcement of concrete floor to affix machinery</td>
                    <td>1,650,000</td>
                </tr>
                <tr>
                    <td>Land</td>
                    <td>8,000,000</td>
                </tr>
                <tr>
                    <td>Architect's fee</td>
                    <td>2,430,000</td>
                </tr>
                <tr>
                    <td>Packing bay</td>
                    <td>990,000</td>
                </tr>
                <tr>
                    <td>Electrical wiring</td>
                    <td>1,480,000</td>
                </tr>
                <tr>
                    <td>Conveyer belt</td>
                    <td>1,200,000</td>
                </tr>
                <tr>
                    <td>Lifts and escalators</td>
                    <td>4,000,000</td>
                </tr>
                <tr>
                    <td>Special shafts for lifts</td>
                    <td>3,250,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td>48,000,000</td>
                </tr>
            </table>
            <p><strong>Dalbir Singh provided the following additional information:</strong></p>
            <ol>
                <li>Additional structures and works constructed and utilised from 1 January 2018 were as follows:</li>
                <table>
                    <tr>
                        <th></th>
                        <th>Sh.</th>
                    </tr>
                    <tr>
                        <td>Residential house</td>
                        <td>960,000</td>
                    </tr>
                    <tr>
                        <td>Workplace nursery</td>
                        <td>1,200,000</td>
                    </tr>
                    <tr>
                        <td>Drawing and design room</td>
                        <td>720,000</td>
                    </tr>
                </table>
                <li>To improve performance in the factory, an Oracle database that provides cloud service was installed at a cost of Sh.450,000. The computers in the drawing and design room had a Computer Aided Design (CAD) application installed at a cost of Sh.270,000.</li>
                <li>A building that had been constructed at a cost of Sh.12,000,000 was leased from Jalaam Manufacturers Ltd. for five years. The annual lease rentals were agreed at Sh.2,800,000. Dalbir imported processing machinery from China at a cost of Sh.5,200,000 and installed it in the building.</li>
                <li>Two warehouses were constructed at a cost of Sh.2,250,000 and utilised from 1 September 2018.</li>
                <li>The following assets were purchased or constructed during the year:</li>
                <table>
                    <tr>
                        <th></th>
                        <th>Sh.</th>
                    </tr>
                    <tr>
                        <td>Furniture and fittings (including of Sh.220,000 for the workplace nursery)</td>
                        <td>620,000</td>
                    </tr>
                    <tr>
                        <td>Library display fixtures (stocked with mechanical engineering volumes)</td>
                        <td>480,000</td>
                    </tr>
                    <tr>
                        <td>Computers and electronic adding machines</td>
                        <td>840,000</td>
                    </tr>
                    <tr>
                        <td>Motor vehicle (a second-hand BMW)</td>
                        <td>2,300,000</td>
                    </tr>
                    <tr>
                        <td>Lorry (four tonnes)</td>
                        <td>1,800,000</td>
                    </tr>
                    <tr>
                        <td>Tuktuk for the messenger</td>
                        <td>180,000</td>
                    </tr>
                    <tr>
                        <td>Backhoe loader</td>
                        <td>3,680,000</td>
                    </tr>
                    <tr>
                        <td>Additional processing machinery</td>
                        <td>9,000,000</td>
                    </tr>
                    <tr>
                        <td>Mobile crane</td>
                        <td>1,900,000</td>
                    </tr>
                </table>
            </ol>
            <p><strong>Required</strong></p>
            <table>
                <tr>
                    <th></th>
                    <th>Sh.</th>
                </tr>
                <tr>
                    <td>Operating profit before tax and other income</td>
                    <td>3,800,000</td>
                </tr>
                <tr>
                    <td>Investment income</td>
                    <td>849,500</td>
                </tr>
                <tr>
                    <td>Leasing of electronic equipment</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>Rental income</td>
                    <td>346,000</td>
                </tr>
            </table>
            <p><strong>Additional Information is provided as follows:</strong></p>
            <ol>
                <li>Investment income comprises of the following:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Interest income:	Post Bank (K) Ltd.</td>
                        <td>138,000</td>
                    </tr>
                    <tr>
                        <td>Interest income:	Fixed deposit accounts with Luanda Bank</td>
                        <td>246,500 (Net)</td>
                    </tr>
                    <tr>
                        <td>Interest income:	Savings accounts</td>
                        <td>170,000 (Net)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Dividend income: B and M Co. Ltd.</td>
                        <td>200,000 (Gross)</td>
                    </tr>
                    <tr>
                        <td>Dividend income: Kampuni Sacco Society Ltd.</td>
                        <td>95,000 (Net)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><strong>849,500</strong></td>
                    </tr>
                </table>
                <li>Rental income is arrived at after deducting the following expenses among others:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Mortgage interest on property</td>
                        <td>10,000</td>
                    </tr>
                    <tr>
                        <td>Purchase of water meters</td>
                        <td>28,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Caretaker's salary</td>
                        <td>36,000 (Net)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Replacing iron sheet roofing with the tile roofing</td>
                        <td>120,000 (Gross)</td>
                    </tr>
                    <tr>
                        <td>Withholding tax on rental income</td>
                        <td>60,000 (Net)</td>
                    </tr>
                </table>
                <li>The following expenses were considered before arriving at the operating profit before tax and other income:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Salaries and wages</td>
                        <td>840,000</td>
                    </tr>
                    <tr>
                        <td>Retirement fund contribution (with Sh.80,000 to registered funds)</td>
                        <td>150,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Depreciation</td>
                        <td>400,000 (Net)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Bank interest</td>
                        <td>180,000 (Gross)</td>
                    </tr>
                    <tr>
                        <td>Provision for bad debts</td>
                        <td>10,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Legal and professional fees</td>
                        <td>108,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Repairs and maintenance</td>
                        <td>40,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Sundry expenses</td>
                        <td>150,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Donations</td>
                        <td>150,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Compensation</td>
                        <td>92,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Instalment tax paid.for the previous year</td>
                        <td>900,000 (Net)</td>
                    </tr>
                    <tr>
                        <td>Construction of the watchmen's booth at the gate</td>
                        <td>240,000 (Net)</td>
                    </tr>
                </table>
                <li>Salaries and wages comprised: Directors allowances Sh.300,000, director's watchmen salary Sh.40,000 and salaries to other staff Sh.500,000.</li>
                <li>Bank interest includes that of an overdraft taken by a senior manager of Sh.40,000, on the managing director's residential house mortgage Sh.60,000 and the rest on bank loan.</li>
                <li>Provision for bad debts is made up as follows:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Bad debts written off: Customers</td>
                        <td>10,000 Balance brought forward: 3% of accounts</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Bad debts written off: Staff</td>
                        <td>14,000 receivable</td>
                        <td>8,000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Balance brought forward: Specific bad debts</td>
                        <td>30,000</td>
                    </tr>
                    <tr>
                        <td>Balance carried down: 2% of accounts receivable</td>
                        <td>9,000 Bad debts recovered</td>
                        <td>5,000</td>
                    </tr>
                    <tr>
                        <td>Balance carried down: Specific bad debts</td>
                        <td>20,000 Income statement</td>
                        <td>10,000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>53,000</td>
                        <td>53,000</td>
                    </tr>
                </table>
                <li>Legal and professional fees comprise: </li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Sh.</strong></th>
                    </tr>
                    <tr>
                        <td>Collection of trade debts</td>
                        <td>20,000</td>
                    </tr>
                    <tr>
                        <td>Renewal of lease (99 years)</td>
                        <td>3,000</td>
                    </tr>
                    <tr>
                        <td>Accounting fee</td>
                        <td>35,000</td>
                    </tr>
                    <tr>
                        <td>Auditing fee</td>
                        <td>15,000</td>
                    </tr>
                    <tr>
                        <td>Tax appeal</td>
                        <td>30,000</td>
                    </tr>
                    <tr>
                        <td>Staff loan collection</td>
                        <td>5,000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>108,000</td>
                    </tr>
                </table>
                <p>Auditing fee relates to an enquiry by the Revenue Authority which revealed discrepancies that led to higher tax liability and penalties.</p>
                <li>Sundry expenses constitute staff Christmas party Sh.17,000, tax penalty for late filing Sh.3,000, school fees Sh.40,000 and other allowable expenses of Sh.90,000. School fees was for a director's son and the company agreed not to debit it in the income statement.</li>
                <li>Donations were to the County Governor's political campaign kitty.</li>
                <li>Compensation was to a staff member who had not been issued with safety equipment and uniform as he carried out work at a client's premise leading to him being badly injured.</li>
            </ol>
            <p><srong>Required</srong>></p>
            <p>The adjusted taxable income of Latherman Co. Ltd. for the year ended 31 December 2018.	(10 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Five</h5>
            <p>a) Explain each of the following terms as used under custom taxes:</p>
            <ol>
                <li>Clean report of findings.	 (2 marks)</li>
                <li>Import declaration form. 	(2 marks)</li>
            </ol>
            <p>(b)	Summarise four factors which could influence the extent of tax shifting.	(4 marks)</p>
            <p>c) Teddy, Racheal and Michael are partners trading under the name Teram Enterprises. They share profits and losses in the ratio of 4:3:3. The partners have presented the following income statement for the year ended 31 December 2018:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                    <th></th>
                    <th><strong>Sh.</strong></th>
                </tr>
                <tr>
                    <td>Salaries and wages</td>
                    <td>280,000</td>
                    <td>Gross profit -</td>
                    <td>2,300,000</td>
                </tr>
                <tr>
                    <td>Rent, rates and taxes</td>
                    <td>150,000</td>
                    <td>Miscellaneous income</td>
                    <td>150,000</td>
                </tr>
                <tr>
                    <td>Office expenses</td>
                    <td>204,000</td>
                    <td>Discounts</td>
                    <td>80,000</td>
                </tr>
                <tr>
                    <td>Printing and stationery</td>
                    <td>64,000</td>
                    <td>Farming income</td>
                    <td>132,000</td>
                </tr>
                <tr>
                    <td>Instalment tax paid</td>
                    <td>45,000</td>
                    <td>Profit on sale of shares</td>
                    <td>100,000</td>
                </tr>
                <tr>
                    <td>Advertising</td>
                    <td>73,000</td>
                    <td>Profit on sale of shares</td>
                    <td>120,000</td>
                </tr>
                <tr>
                    <td>Interest on capital: Teddy</td>
                    <td>60,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Interest on capital: Racheal</td>
                    <td>70,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Interest on capital: Michael</td>
                    <td>80,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Legal fees</td>
                    <td>82,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Commission to partners: Teddy</td>
                    <td>45,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Commission to partners: Michael</td>
                    <td>35,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Depreciation</td>
                    <td>92,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bad debts</td>
                    <td>68,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>General expenses</td>
                    <td>99,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Donation to famine relief</td>
                    <td>100,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>General reserve</td>
                    <td>120,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Local taxes on property</td>
                    <td>12,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Electricity</td>
                    <td>46,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Showroom expenses</td>
                    <td>117,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Net profit</td>
                    <td>1,040,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2,882,000</td>
                    <td></td>
                    <td>2,882,000</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <ol>
                <li>It has been the firm's practice to value the stocks at the cost price, however, the closing stock amounting to Sh.I 80,000 was valued based on net realisable value which is 10% less of its cost price.</li>
                <li>Salaries and wages include salaries amounting to Sh.40,000 paid to Racheal.</li>
                <li>Advertising includes Sh.10,000 spent on advertising campaign to introduce a new product in the market.</li>
                <li>Legal fees include a sum of Sh.12,000 paid as parking fine and penalty to the county government.</li>
                <li>Capital allowances have been agreed with the Commissioner of Income Tax at Sh.90,000.</li>
                <li>Teddy's other income includes Sh.120,000 consultancy fee. He has brought forward partnership business loss of Sh.135,000 from the assessment of the year of income 2017.</li>
                <li>7.	Racheal has income of Sh.200,000 from bet winnings. She has brought forward partnership business loss of Sh.135,000 from assessment of the year of income 2017.</li>
            </ol>
            <p><strong>Required</strong></p>
            <ol>
                <li>Taxable profit or loss of the partnership for the year ended 31 December 2018.	(8 marks)</li>
                <li>Allocation schedule of profit or loss calculated in (G) (i) above.	(2 marks)</li>
                <li>Total taxable income of each of the partners for the year of income 2018.		(2 marks) </li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}