{% extends "ans/base.html" %}
{% block content %}

<div class="six">
    <div></div>
    <div class="seven">
      <h5 class="four mby">Taxation</h5>
      <div class="lks">
        <p><a href="{% url 'taxation2019_November' %}">2019 November Taxation Questions and Answers</a></p>
        <p><a href="{% url 'taxation2019_May' %}">2019 May Taxation Questions and Answers</a></p>
        <p><a href="{% url 'taxation2018_November' %}">2018 November Taxation Questions and Answers</a></p>
      </div>
    </div>
    <div></div>
  </div>
{% endblock content %}