{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Law Question Paper - November 2018</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	Outline six properties of law.	(6 marks)</p>
            <p>(b)	In relation to the sources of law:</p>
            <ul>
                <li>Distinguish between an "amendment" and a "repeal" of a law.	(4 marks)</li>
                <li>Identify four examples of persuasive precedents.	(4 marks)</li>
            </ul>
            <p>c) List six instances when a court might review an administrative action.	(6 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Explain the meaning of the term "written law".	(4 marks)</p>
            <p>(b)	The legislative power of parliament is exercisable through bills passed by the National Assembly. With reference to the above statement, explain three types of bills that might be presented to parliament in your country. (6 marks)</p>
            <p>(c)	Outline six common servitudes under the law of property.	(6 marks)</p>
            <p>(d)	State four advantages of unincorporated associations.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>a) In the context of hire purchase contracts:</p>
            <ul>
                <li>Explain the meaning of a "conditional sale agreement".	(4 marks)</li>
                <li>Describe six features of a conditional sale agreement.	(6 marks)</li>
            </ul>
            <p>(b)	Outline six liabilities of a minor who has been admitted in the benefits of a partnership.	(6 marks)</p>
            <p>(c)	Identify four grounds upon which a valid treaty might be invalidated under international law.	(4 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	In relation to negotiable instruments, discuss three acts that might be held to amount to negligence on the part of the collecting banker.  (6 marks) </p>
            <p>(b)	Explain five circumstances under which an agent's action which was initially unauthorised might be subsequently ratified by his principal so as to become binding.	(10 marks)</p>
            <p>(c)	Outline four ways in which a surety might be discharged from a contract of guarantee.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	Ukulima Limited created the position of managing director but no one was appointed to the position. Brian Bundi, a director, with the knowledge of the other directors, purported to act as the Managing Director and hired Mjengo Limited to do some work for the company. Mjengo Limited has now demanded for payment for the work done but Ukulima Limited has refused to pay stating that Brian Bundi had no authority to act on the company's behalf. Advise Mjengo Limited on the legal position.	(8 marks)</p>
            <p>(b)	List six advantages of using mediation in reaching a settlement in commercial disputes.	(6 marks)</p>
            <p>(c)	Outline six special powers of the High Court in addition to the jurisdictional ones identified in the Constitution of your country.	(6 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	In relation to the law of contract, explain four ways in which a contract might be discharged.	(8 marks)</p>
            <p>(b)	Tom Obonyo wrote to Jerry Katana offering to sell his car to him at Sh.500,000. Jerry Katana accepted Tom Obonyo's offer subject to the price being reduced to Sh.450,000. It has become apparent that Tom Obonyo is not willing to sell the car at Sh.450,000. Jerry Katana now writes to Tom Obonyo agreeing to buy the car at Sh.500,000 but Tom Obonyo responds that he has already sold it to a third party. Jerry Katana is upset and comes to you for advice. Advise Jerry Katana on the legal position.	(8 marks)</p>
            <p>(c)	Explain the meaning of the following terms as used in international contracts of sale:</p>
            <ul>
                <li>(i)	Free Alongside Ship (FAS).	(2 marks)</li>
                <li>(ii)	Free On Board (FOB). (2 marks)</li>
            </ul>            
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 

        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)	With reference to the law of tort:</p>
            <ul>
                <li>State the meaning of the term "defamation".	(2 marks)</li>
                <li>Explain the two forms which defamation could take.	(4 marks)</li>
                <li>Discuss three essential aspects of the defence of fair comment in an action for defamation.	(6 marks)</li>
            </ul>
            <p>(b)	Explain four ways in which an insurance contract could be classified.	(8 marks)</p>  
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}