{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Law Question Paper - November 2019</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>a) <br>(i) Outline four ways through which the Supremacy of the Constitution is manifested.	(4 marks)<br>(ii)	Identify eight sources of law in your country.	(8 marks)</p>
            <p>(b)	With specific reference to administrative law:</p>
            <ul>
                <li>Distinguish between "substantive ultra vires" and "procedural ultra vires".	(4 marks)</li>
                <li>Discuss four ways in which the independence of the Judiciary is promoted.		(4 marks) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Mutuku employed Mwanzia as a petrol tanker driver. While petrol was being off-loaded from the tanker at a petrol station, Mwanzia, who was standing nearby, lit a cigarette. Unfortunately, the petrol tanker caught fire and. burnt the whole petrol station and injured several people.</p>
            <p>Mpole, the owner of the petrol station, is angry and seeks your advice on whom he can sue. Advise Mpole.	(10 marks)</p>
            <p>(b)	In relation to sale of goods:</p>
            <ul>
                <li>Outline four circumstances when a buyer might reject the goods and repudiate the contract.	(4 marks)</li>
                <li>Explain three circumstances under which the unpaid seller might exercise his right of lien.	(6 marks) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>a) In relation to the law of contract:</p>
            <ul>
                <li>Explain three rules that govern the measure of damages for breach of contract,	(6 marks)</li>
                <li>Alex agreed to paint Angela's house at an agreed contract price. When Alex had finished the work, 
                    Angela discovered that although most of the painting was satisfactory, Alex had forgotten to apply a coat of gloss paint on one of the doors. Alex fell sick and could not complete the work.
                    Angela has refused to pay Alex the contract price claiming that he has not completed the work.
                    Advise Alex on the legal position.	(8 marks)
                </li>
                <li>Explain three characteristics of the contract of guarantee.	(6 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>a) In the context of classification of law, state</p>
            <ul>
                <li>Four modes of sentencing that a court might impose on an offender.	(4 marks)</li>
                <li>Four modes of judgement that a plaintiff might be awarded.	4 marks)</li>
                <li></li>
            </ul>
            <p>b) With reference to the law of insurance:</p>
            <ul>
                <li>Summarise four circumstances under which the duty of disclosure is justified.	(8 marks)</li>
                <li>Outline four conditions that must be met for the principle of "contribution" to apply.		(4 marks) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>a) Describe four circumstances that should exist in order for a mediation to be termed as "International Mediation". (8 marks)</p>
            <p>b) With reference to the court system in your country:</p>
            <ul>
                <li>Identify three superior courts.	(3 marks)</li>
                <li>Summarise five grounds upon which a judge of a superior court might be removed from office. (5 marks)</li>
            </ul>
            <p>c) Highlight four forms that a qualified acceptance might take.	(4 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	Explain four differences between an "incorporated association" and an "unincorporated association".	(8 marks)</p>
            <p>(b)	Highlight four circumstances in which the principle of "delegate non potest delegare" does not apply in the law of
                agency.	(4 marks)
            </p>
            <p>(c)	Describe two conditions and two warranties that are implied in a hire purchase contract.		(8 marks) </p>
            
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 

        <div class="three">
            <h5>Question Seven</h5>
            <p>a) With reference to the law of property:</p>
            <ul>
                <li>Outline three conditions for the remedy of statutory power of sale.	(3 marks)</li>
                <li>List three ways in which co-ownership might be terminated.	(3 marks)</li>
                <li>Explain the two types of chattels personal.	(4 marks)</li>
            </ul>
            <p>With reference to partnerships:</p>
            <ul>
                <li>Identify five ways in which a person shall cease to be .a partner.	(5 marks)</li>
                <li>Highlight five clauses which might be found in a partnership agreement.		(5 marks) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}