{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Law Question Paper - May 2019</h5>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	Brutus Okeka purchased a radio from Dancing Spoon Ltd. on hire purchase terms. The purchase price was Sh.45,000. He paid a down payment of Sh.5,000 and the balance was to be paid in monthly instalments of Sh.5,000. Brutus Okeka defaulted after consistently paying the required instalments for a period of six months. Dancing Spoon Ltd. promptly repossessed the radio. Brutus Okeka feels aggrieved and seeks your advice. Analyse the legal principles applicable in the above case and advise Brutus Okeka.	(10 marks)</p>
            <p>(b)	Explain four features necessary for agency of necessity to exist.	(4 marks)</p>
            <p>(c)	Describe three types of authority that an agent has.	(6 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	David Boka is the proprietor of Daily Mail Newspaper which published an article two weeks ago t	ffect that Rose Nylon, the Chief Executive Officer of a child welfare organisation had embezzled shillings f e► illion from the organisation to purchase a private residential house. Investigations revealed that Rose Nyls ■ ought the house out of a loan advanced to her by Fast Bank and secured on the house. Rose Nylon is agg	ed and seeks your legal advice. Advise Rose Nylon.	(10 marks)</p>
            <p>(b)	Distinguish between "substantive" and "procedural" law.	(4 marks)</p>
            <p>(c)	Explain three reasons why Parliament delegates law making powers.		(6 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>a) With reference to the law of tort:</p>
            <ul>
                <li>Explain the legal principle in the rule of Rylands V. Fletcher.	(4 marks)</li>
                <li>Describe three defences available to a person sued in an action brought under the rule in (a) (i) above. (6 marks)</li>
            </ul>
            <p>b) In relation to the law of contract, explain four elements of an enforceable contract.	(4 marks)</p>
            <p>c) Examine the principles relating to contractual capacity of minors.	(6 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>a)</p>
            <ul>
                <li>Highlight six types of inventions which might not be patented.	(6 marks)</li>
                <li>List four, property rights that might be created by a contract over a piece of land.	(4 marks)</li>
            </ul>
            <p>b)</p>
            <ul>                
                <li>Explain two differences between a "private company" and a "public company".	(6 marks)</li>
                <li>An incorporated association is an association of persons recognised as a legal entity which has its own rights and is subject to obligations. With reference to the above statement, explain two ways in which an incorporated association might be brought into existence.	(4 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>a) In the context of sale of goods contract:</p>
            <ul>
                <li>Outline five remedies of the unpaid seller.	(5 marks)</li>
                <li>Explain three ways in which a buyer is deemed to have accepted goods.	(3 marks)</li>
                <li>Define the term "auction sale".	(2 marks)</li>
            </ul>
            <p>b) State four powers of the Court of Appeal.	(4 marks)</p>
            <p>c) Discuss three advantages and three disadvantages of tribunals.	(6 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	In relation to the law governing negotiable instruments, explain three types of endorsements that might be made on a bill of exchange.	(6 marks </p>
            <p>(b)	Highlight four similarities between "arbitration" and "mediation" as means of resolving commercial disputes (8 marks)  </p>
            <p>(c)	Summarise three rights that the guarantor has against the principal debtor	(6 marks) </p>
            
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 

        <div class="three">
            <h5>Question Seven</h5>
            <p>a) Explain the concept of causa proxima (proximate cause) as a principle of insurance.	(4 marks)</p>
            <p>(b)	Describe four consequences of dissolution of a partnership firm.	(8 marks)</p>
            <p>(c)	Summarise four actions that cannot be undertaken by a limited partner in a limited partnership.	(4 marks)</p>
            <p>(d)	List four examples of law which fall under criminal law.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}