{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Management Accounting Question Paper - November 2018</h5>
        <div class="three">
            <h5>Question One</h5> 
            <p>(a)	Examine three challenges that young medium-sized organisations might face when introducing cost accounting system into their operations.	(6 marks)</p>
            <p>(b)	Dilica Ltd. makes and sells a single product called "Delicious". It is currently operating at 80% of full capacity, producing 112,000 units per month. The total monthly costs at the current level of operation are Sh. 611,000. At 100% capacity, total monthly costs would be Sh.695,000 while fixed costs would be the same per month at all levels of capacity between 80% and 100%.</p>
            <p><strong>Additional information:</strong></p>
            <ol>
                <li>At the normal selling price of the product, the contribution to sales ratio is 60%.</li>
                <li>A new customer has offered to buy 25,000 units of the product each month at 20% below the normal selling price.</li>
                <li>Dilica Ltd. estimates that for every five units that it sells to this customer, it will lose one unit of its current monthly sales to other customers.</li>
            </ol>
            <p><strong>Required:</strong></p>
            <ol>
                <li>The variable cost per unit of product "Delicious" and the total fixed cost per month.	(5 marks)</li>
                <li>The current normal sales price per unit, and the contribution per unit at this price.	(4 marks)</li>
                <li>Advise the management of Dilica Ltd. on whether the offer from the new customer should be accepted. (5 marks) </li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Explain three types of standards as used in standard costing.	(6 marks)</p>
            <p>(b)	The following information has been provided to you by the cost accountant of Lela Ltd. for the month of September 2019</p>
            <table>
                <tr>
                    <th></th>
                    <th>Sh</th>
                </tr>
                <tr>
                    <td><strong>Balances at the beginning of the month:</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stores ledger control account</td>
                    <td>241,750</td>
                </tr>
                <tr>
                    <td>Work-in-progress control account</td>
                    <td>192,100</td>
                </tr>
                <tr>
                    <td>Finished goods control account</td>
                    <td>341,640</td>
                </tr>
                <tr>
                    <td>Prepayments of production overheads brought forward</td>
                    <td>21,000</td>
                </tr>
                <tr>
                    <td><strong>Transactions during the month:</strong></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Materials purchased</td>
                    <td>761,500</td>
                </tr>
                <tr>
                    <td>Materials issued: To Production</td>
                    <td>263,500</td>
                </tr>
                <tr>
                    <td>Materials issued: For Factory maintenance</td>
                    <td>32,800</td>
                </tr>
                <tr>
                    <td>Total wages paid: Direct</td>
                    <td>220,100</td>
                </tr>
                <tr>
                    <td>Total wages paid: Indirect</td>
                    <td>42,320</td>
                </tr>
                <tr>
                    <td>Direct wages charged to production</td>
                    <td>141,100</td>
                </tr>
                <tr>
                    <td>Recorded non-productive time of direct wages</td>
                    <td>52,300</td>
                </tr>
                <tr>
                    <td>Direct wages incurred in production of capital equipment</td>
                    <td>26,700</td>
                </tr>
                <tr>
                    <td>Selling and distribution overheads incurred</td>
                    <td>52,400</td>
                </tr>
                <tr>
                    <td>Other production overheads incurred</td>
                    <td>122,000</td>
                </tr>
                <tr>
                    <td>Sales</td>
                    <td>754,000</td>
                </tr>
                <tr>
                    <td>Cost of finished goods sold</td>
                    <td>598,300</td>
                </tr>
                <tr>
                    <td>Cost of goods completed transferred to finished goods account</td>
                    <td>621,300</td>
                </tr>
                <tr>
                    <td>Value of work-in-progress at the end of the month</td>
                    <td>243,600</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <p>Production overheads absorption rate is 150% of direct wages and it is the policy of the company to include a share of production overheads in the cost of capital equipment constructed in the factory.</p>
            <p><strong>Required:</strong></p>
            <ol>
                <li>Stores ledger control account.	(3 marks)</li>
                <li>Wages control account.	(3 marks)</li>
                <li>Work-in-progress control account.	(3 marks)</li>
                <li>Finished goods control account.	(2 marks)</li>
                <li>Production overhead control account.	(3 marks) </li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Explain the meaning of the following terms as used in cost estimation:</p>
            <ol>
                <li>Cost allocation.	(2 marks)</li>
                <li>Cost centre.	(2 marks)</li>
                <li>Cost driver.	(2 marks)</li>
                <li>Cost pool.	(2 marks)</li>
            </ol>
            <p>Supreme Ltd. is a company that specialises in making high quality furniture to customers orders. The company has three production departments and two service departments.</p>
            <p>Budgeted overhead costs for the year ending 30 April 2020 are as follows:</p>
            <table>
                <tr>
                    <th></th>
                    <th>Sh. "000"</th>
                </tr>
                <tr>
                    <td>Rent and rates</td>
                    <td>12,800</td>
                </tr>
                <tr>
                    <td>Machine insurance</td>
                    <td>6,000</td>
                </tr>
                <tr>
                    <td>Telephone charges</td>
                    <td>3,200</td>
                </tr>
                <tr>
                    <td>Depreciation</td>
                    <td>18,000</td>
                </tr>
                <tr>
                    <td>Production supervisor's salary</td>
                    <td>24,000</td>
                </tr>
                <tr>
                    <td>Heating and lighting</td>
                    <td>6,400</td>
                </tr>
                <tr>
                    <td></td>
                    <td>70,400</td>
                </tr>
            </table>
            <p>The three production departments A, B and C and the two service departments X and Y are housed in new premises, the details of which, together with other statistics and information are provided below:</p>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Department</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td></td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>X</td>
                    <td>Y</td>
                </tr>
                <tr>
                    <td>Floor area occupied (square metres)</td>
                    <td>3,000</td>
                    <td>1,800</td>
                    <td>600</td>
                    <td>600</td>
                    <td>400</td>
                </tr>
                <tr>
                    <td>Machine value (Sh. "000")</td>
                    <td>240</td>
                    <td>100</td>
                    <td>80</td>
                    <td>40</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Direct labour hours ("000")</td>
                    <td>3,200</td>
                    <td>1,800</td>
                    <td>1,000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Labour rate per hour (Sh.)</td>
                    <td>380</td>
                    <td>350</td>
                    <td>340</td>
                    <td>300</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>Allocated overheads specific to each department (Sh. "000")</td>
                    <td>2,800</td>
                    <td>1,700</td>
                    <td>1,200</td>
                    <td>800</td>
                    <td>600</td>
                </tr>
                <tr>
                    <td>Service department X costs apportioned</td>
                    <td>50%</td>
                    <td>25%</td>
                    <td>25%</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Service department Y costs apportioned</td>
                    <td>20%</td>
                    <td>30%</td>
                    <td>50%</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <p><strong>Required:</strong></p>
            <ol>
                <li>Overheads analysis sheet showing the overhead costs budgeted for each department and thee basis of apportionment used.</li>
                <li>Two pieces of furniture are to be manufactured for customers. The following information re	to the two pieces of furniture:</li>
                <table>
                    <tr>
                        <th></th>
                        <th><strong>Job 123</strong></th>
                        <th><strong>Job 124</strong></th>
                    </tr>
                    <tr>
                        <td>Direct materials (Sh.)</td>
                        <td>15,400</td>
                        <td>10,800</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><strong>Hours</strong></td>
                        <td><strong>Hours</strong></td>
                    </tr>
                    <tr>
                        <td>Direct labour - Department -- A</td>
                        <td>20</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>Direct labour - Department -- B</td>
                        <td>12</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Direct labour - Department -- C</td>
                        <td>10</td>
                        <td>14</td>
                    </tr>
                </table>
            </ol>
            <p><strong>Required:</strong></p>
            <p>The total production cost for each job.	(4 marks)</p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	Explain three differences between job costing and process costing.	(6 marks)</p>
            <p>(b)	Granite City Works (GCW) Ltd. is a manufacturer of cemetery headstones and architectural granite slabs. The company excavates blocks of granite from its joint processes of Quarry and Cutting. Two joint products; Cemetery monuments and Architectural granite are produced along with a by-product called "grit".</p>
            <p><strong>Additional information:</strong></p>
            <ol>
                <li>GCW Ltd. has provided the following output and cost information: </li>
                <table>
                    <tr>
                        <th><strong>Process</strong></th>
                        <th><strong>Output (Tons)</strong></th>
                        <th><strong>Cost (Sh. "000")</strong></th>
                    </tr>
                    <tr>
                        <td>Quarry</td>
                        <td>100,000</td>
                        <td>350,000</td>
                    </tr>
                    <tr>
                        <td>Cutting</td>
                        <td>90,000</td>
                        <td>250,000</td>
                    </tr>
                    <tr>
                        <td>Monuments</td>
                        <td>25,000</td>
                        <td>300,000</td>
                    </tr>
                    <tr>
                        <td>Granite slabs</td>
                        <td>60,000</td>
                        <td>400,000</td>
                    </tr>
                    <tr>
                        <td>Grit</td>
                        <td>5,000</td>
                        <td>10,000</td>
                    </tr>
                </table>
                <li>A local distributor purchases all of the grit that is produced at a price of Sh.40,000 per ton.</li>
                <li>Assume that the company uses the physical units method to allocate joint costs.</li>
            </ol>
            <p><strong>Required:</strong></p>
            <p>The cost per ton of monuments and granite slabs, assuming that the grit is accounted for as:</p>
            <ol>
                <li>Other income.	(8 marks)</li>
                <li>By-product revenue deducted from the main product cost.	(6 marks)</li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	Summarise four disadvantages associated with Just-In-Time (JIT) inventory management system.	(4 marks)</p>
            <p>(b)	Solhut Ltd. manufactures a product branded "PQ" which is sold at Sh.800 per unit. The variable costs per unit of product "PQ" are provided below:</p>
            <table>
                <tr>
                    <th></th>
                    <th>Sh.</th>
                </tr>
                <tr>
                    <td>Direct materials: M1 (2 Kgs at Sh.20 each)</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>Direct materials: M2 (3 Kgs at Sh.20 each)</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Labour	(2 hours at Sh.35 each)</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Variable overheads at Sh.40 per hour</td>
                    <td>80</td>
                </tr>
            </table>
            <p>The management of Solhut Ltd. have estimated that for the first six months of the year ending 30 June 2020. the following quantities will be sold on credit:</p>
            <table>
                <tr>
                    <th><strong>Month:</strong></th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                </tr>
                <tr>
                    <td><strong>Quantity (Units)</strong></td>
                    <td>3,920</td>
                    <td>2,940</td>
                    <td>3,430</td>
                    <td>4,410</td>
                    <td>4,900</td>
                    <td>4,410</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ol>
                <li>Customers will be allowed one month's credit.</li>
                <li>The closing inventory for each month is equal to 10% of the next month's sales of product "PQ".</li>
                <li>Production takes place in the month of sale.</li>
                <li>Materials are purchased one month before use and are paid for two months after purchase.</li>
                <li>Labour and variable overheads are paid for in the month of production.</li>
                <li>Fixed overhead per month are expected to be Sh.300,000 and includes depreciation of Sh.35,000. The fixed overheads are payable in the month in which they are incurred.</li>
                <li>The opening cash balance as at 1 February 2020, is expected to be Sh.2,500,000.</li>
            </ol>
            <p><strong>Required:</strong></p>
            <ol>
                <li>Production budget in units.	(6 marks)</li>
                <li>Cash budget.	(10 marks) </li>
            </ol>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
         
    </div>
    <div></div>
</div>

{% endblock content %}