{% extends "ans/base.html" %}
{% block content %}

<div class="six">
    <div></div>
    <div class="seven">
      <h5 class="four mby">Management Accounting</h5>
      <div class="lks">
        <p><a href="{% url 'managementaccounting2019_November' %}">2019 November Management Accounting Questions and Answers</a></p>
        <p><a href="{% url 'managementaccounting2019_May' %}">2019 May Management Accounting Questions and Answers</a></p>
        <p><a href="{% url 'managementaccounting2018_November' %}">2018 November Management Accounting Questions and Answers</a></p>
      </div>
    </div>
    <div></div>
  </div>
{% endblock content %}