{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Law Question Paper - November 2019</h5>
        <p><strong>Answer ALL questions. Marks allocated to each question are shown at the end of the question. Show ALL your workings.</strong></p>
        <div class="three">
            <p>(a)	Examine four assumptions of the Modigliani and Miller (MM) dividend irrelevance Theory.	(4 marks)</p>            
            <p>(b)	Differentiate between the following terms as applied in finance:</p>
            <ul style="list-style: none;">
                <li>(i)	"Operating leverage" and "financial leverage".	(2 marks) </li>
                <li>(ii)	"Cum-right" and "ex-right" market price per share.	(2 marks)</li>
                <li>(iii)	"Time value of money" and "time preference for money".	(2 marks)</li>
            </ul>
            <p>(c)	The fixed operating cost for Gahaleni Pharmaceutical Ltd. are Sh.5.8 million per annum and the variable cost ratio 0.20.</p>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1.	The company has Sh.2 million in bonds outstanding with an annual coupon interest rate of 8 per cent </li>
                <li>2.	The company has 30,000 preference shares outstanding which pay Sh.2 dividend per share each year</li>
                <li>3.	The company has 100,000 ordinary shares outstanding.</li>
                <li>4.	Revenues of the company are Sh.8 million per annum.</li>
                <li>5.	The company is in the 30% corporate tax bracket.</li>
            </ul>
            <p><strong>Required</strong></p>
            <ul style="list-style: none;">
                <li>(i)	The degree of operating leverage.	(4 marks)</li>
                <li>(ii)	The degree of financial leverage.	(3 marks)</li>
                <li>(iii)	The degree of combined leverage.		(3 marks) </li>
            </ul>  
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Describe four limitations of the net present value (NPV) method of investment appraisal.	(4 marks)</p>
            <p>(b)	The management of Bundacho Limited is in the process of evaluating, two projects, namely Alpha and Beta. </p>
            <p>The estimated pre-tax cash flows of each of the projects are as follows:</p>
            <table>
                <tr>
                    <th><strong>Year</strong></th>
                    <th><strong>Project Alpha<br>Pre-tax cash flows<br>Sh. "000"</strong></th>
                    <th><strong>Project Beta<br>Pre-tax cash flows<br>Sh. "000"</strong></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2,590</td>
                    <td>4,300</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2,880</td>
                    <td>3,290</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>3,050</td>
                    <td>3,200</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>2,950</td>
                    <td>3,700</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>-</td>
                    <td>4,850</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>-</td>
                    <td>4,420</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1. Project Alpha costs Sh.3.8 million and has an estimated lifespan of 4 years.</li>
                <li>2.	Project Beta costs Sh.8 million with an estimated lifespan of 6 years.</li>
                <li>3.	Both projects have a zero salvage value.</li>
                <li>4.	An investment in working capital of Sh.825,000 will be required irrespective of the project to be undertaken.</li>
                <li>5.	The cost of capital for the company is 12%.</li>
                <li>6.	The corporate tax rate is 30%.</li>
            </ul>
            <p><strong>Required</strong></p>
            <ul style="list-style: none;">
                <li>Using the discounted payback period method, recommend to the management of Bundacho Limited on which project to undertake.	(8 marks)</li>
            </ul>
            <p>( c)	The earnings per share (EPS) and dividend per share (DPS) data for Maraba Ltd. over the last five years are provided </p>
            <table>
                <tr>
                    <th><strong>Year</strong></th>
                    <th><strong>Dividend per share (DPS)<br>(Sh.)</strong></th>
                    <th><strong>Earnings per share (EPS)<br>(Sh.)</strong></th>
                </tr>
                <tr>
                    <td>2013</td>
                    <td>1.00</td>
                    <td>2.50</td>
                </tr>
                <tr>
                    <td>2014</td>
                    <td>1.10</td>
                    <td>2.70</td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>1.20</td>
                    <td>3.00</td>
                </tr>
                <tr>
                    <td>2016</td>
                    <td>1.50</td>
                    <td>3.20</td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>1.80</td>
                    <td>3.50</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1.	A prospective investor is considering buying the shares of this company which are currently selling at Sh.55 each at the securities exchange.</li>
                <li>2.	The investor's required rate of return is 20%.</li>
            </ul>
            <p><strong>Required</strong></p>
            <ul style="list-style: none;">
                <li>Advise the investor on whether to buy the shares of Maraba Ltd. using Gordon's model.	(8 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Propose four factors that might lead to soft capital rationing in a limited company. (4 marks)</p>
            <p>(b)	Explain four roles that are played by insurance companies in the financial market of your country. (4 marks)</p>
            <p>(c)	Bernunyonge Ltd. has just paid a dividend of Sh.4 per share. The company expects that the c141end will grow at the rate of 20% per annum for the first two years, then grow at the rate of 10% per annum 1-rr the next 2 years and thereafter grow at the rate of 6% per annum into perpetuity. The required rate of return for the company is 16%.</p>
            <p><strong>Required</strong></p>
            <ul style="list-style: none;">
                <li>The theoretical value of the company's share.	(4 marks)</li>
            </ul>
            <p>(d)	Bahati Enterprises is considering amendments to its current credit policy. The firm's current annual credit sales amount to Sh.6,000,000.</p>
            <p>The current credit terms are net 30 with an average debtors collection period of 45 days.</p>
            <p>The following information relates to the proposed credit policy:</p>
            <ul style="list-style: none;">
                <li>1.	The credit period to be extended to net 60.</li>
                <li>2.	Annual sales are expected to increase by 20%.</li>
                <li>3.	Bad debts are expected to increase from 2% to 2.5% of the annual credit sales.</li>
                <li>4.	Credit analysis and debt collection costs are expected to increase by Sh.84,000 per annum.</li>
                <li>5.	The return on investment in debtors is 12%.</li>
                <li>6.	For every Sh.100 of sales, Sh.75 is the variable cost.</li>
                <li>7.	Assume one year has 360 days.</li>
            </ul>
            <p><strong>Required</strong></p>
            <ul style="list-style: none;">
                <li>Advise the management of Bahati Enterprises on whether to adopt the proposed credit policy.	(8 marks)</li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>

        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	The following are the financial statements for ABC Ltd. and XYZ Ltd for the year ended 30 September 2018:</p>
            <table>
                <tr>
                    <th colspan="5"></th>
                </tr>
                <tr>
                    <td>Revenues</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cost of sales </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Gross profit </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Expenses:</strong></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Distribution costs</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Administration expenses</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Finance costs</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Profit before tax</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tax paid</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Profit after tax</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Dividends paid</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Retained profits for the year</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Retained profit brought forward</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Retained profit carried forward</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <p>(b)	Describe the manner of service of summons and notices upon foreign companies.	(6 marks)</p>
            <p>(c)	Outline six benefits of corporate restructuring to a company.		(6 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	With reference to the types of companies, summarise three provisions relating to the liabilities of the members of a company.	(6 marks)</p>
            <p>(b)	Mbegu Nzuri Ltd. is in the business of importing seeds. The company is about to make a new issue of 800,000 shares of Sh.20 each. The prospectus has stated that the seeds produced by the company yield 20 bags per acre "even on arid land" and that the company was the only one with such kind of seeds. There was also a publication in the local newspaper about the shares.</p>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1.	Saulo Mpoa did not read the prospectus but applied for the company's shares and was allocated 4,000 shares at Sh.40 per share.</li>
                <li>2.	Baraka Mwanzi read the prospectus and was not allocated the company's shares. She bought 6,000 of the company's shares at the securities exchange at Sh.50 per share.</li>
                <li>3.	Sadiki Mulwa read the publication in the local newspaper about the company's shares and bought 10,000 shares at the securities exchange at Sh.55 per share.</li>
                <li>4.	An actual analysis of the seeds was done and it was discovered that the seeds were not as productive, only yielding 5 bags per acre and could only thrive in wet land. The shares of Mbegu Nzuri Ltd. thereafter dropped in value to Sh.5 per share.</li>
            </ul>
            <p>With reference to the above scenario:</p>
            <ul style="list-style: none;">
                <li>(i)	Explain three types of misrepresentation.	(3 marks)</li>
                <li>(ii)	Explain five elements of misrepresentation. (5 marks)</li>
                <li>(iii)	Advise Saulo, Baraka and Sadiki on possible action against the company.		(6 mark's) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)	In the context of company accounts, audit and inspection, highlight six individuals to whom the court might provide a copy of the inspector's report.	(6 marks)</p>
            <p>(b)	In relation to debt capital:</p>
            <ul style="list-style: none;">
                <li>(i)	Highlight six types of company charges which require registration as outlined in the Companies Act.  (6 marks)</li>
                <li>(ii)	Explain four disadvantages of a floating charge to a debenture holder.		(8 marks) </li>
            </ul>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 

        <div class="three">
            <h5>Question Seven</h5>
            <p>(a)	With reference to the case of National Dwelling Society Vs Sykes, enumerate five duties and five powers of the Chairman of a general meeting of a company.	(10 marks)</p>
            <p>(b)	Shauri Moyo Ltd. is a non-listed public company. The company has three directors; Bidii, Mapesa and Shinda who  are also the only shareholders. The company requires additional finance and is proposing to issue a block of ordinary shares to Zindua. The shares have a nominal value of Sh.200 each and Zindua has agreed to pay Sh.220 per share. However, it is agreed that Zindua will only partly pay for the shares at the rate of Sh.20 per share.</p>
            <p><strong>Required</strong></p>
            <p>Advise Bidii, Mapesa and Shinda on the legal issue relating to the proposed issue of shares to Zindua and payments thereon.	(6 marks)</p>
            <p>c) Explain the benefits of including a negative pledge clause in a floating charge to the holder.		(4 marks) </p>
            <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
            -->
            <!-- Answer button end -->
        </div> 
    </div>
    <div></div>
</div>

{% endblock content %}