{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Financial Management Question Paper - November 2019</h5>
        <p><strong>Answer ALL questions. Marks allocated to each question are shown at the end of the question. Show ALL your workings.</strong></p>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	In the context of agency theory:</p>
            <ul style="list-style: none;">
                <li>(i)	Explain the "principal-agent" problem.	(2 marks)</li>
                <li>(ii) Explore two ways of addressing the principal-agent problem.	(4 marks)</li>
            </ul>
            <p>(b)	Sasumua Ltd. is considering a review of its credit policy as a way of enhancing its working capital management: </p>
            <p>The following information relates to the company:</p> 
            <ul>
                <li>Annual sales amount to Sh.6,000,000.</li>
                <li>Credit sales are 80% of all sales.</li>
                <li>Bad debts average 3% of all credit sales.</li>
                <li>Average collection period for debtors is 45 days. </li>
                <li>Gross profit on sales is 75%.</li>
                <li>The company's cost of capital is 12% per annum. </li>
                <li>Terms of credit sales are net 60 days.</li>
            </ul> 
            <p>The company's credit manager is recommending a review of the credit policy of the company. The expected outcome of this action will be:</p>         
            <ul>
                <li>Increase in total sales by 40%.</li>
                <li>Credit sales will be 60% of all sales.</li>
                <li>Average collection period will decrease to 30 days.</li>
                <li>Bad debts will increase to 5% of credit sales.</li>
                <li>An additional part-time credit consultant will be hired at Sh.500,000 per annum.</li>
                <li>Gross profit margin will increase to 80%.</li>
                <li>Terms of credit sales will be 5/15 net 45. All credit customers will enjoy the 5% cash discount subject to the terms.</li>
                <li>No change is expected in the firm's cost of capital.</li>
                <li>The tax rate is 30%.</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>Advise the company on whether to adopt the revised credit policy.	(7 marks)</li>
            </ul>
            <p>c) The current capital structure of Ahadi Ltd. is given as follows:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh."000"</strong></th>
                </tr>
                <tr>
                    <td>Ordinary shares (Sh.10 each)</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>10% debentures</td>
                    <td>15,000</td>
                </tr>
                <tr>
                    <td>12% preference shares (Sh.20 each)</td>
                    <td>5,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td>50,000</td>
                </tr>
            </table>
            <p><strong>Additional Information</strong></p>
            <ul style="list-style: none;">
                <li>1.	The current market value of ordinary shares and preference shares is Sh.50 and Sh.30 respectively.</li>
                <li>2. The debentures are irredeemable and have a market value of Sh.120 per Sh.100 nominal value</li>
                <li>3.	The most recent earnings per share (EPS) of the company is Sh.6.</li>
                <li>4.	The company currently adopts a 60% dividend payout ratio as its dividend policy. However, the firm's future dividends are expected to grow at a rate of 7% each year liar the foreseeable future.</li>
                <li>5.	Corporate tax rate is 30%.</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>The company's weighted average cost of capital (WACC) using market value weights.	(7 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Explain the term "cross-border" listing.	(2 marks)</li>
                <li>(ii) Discuss two benefits of cross-border listing to a quoted company.	(4 marks)</li>
            </ul>
            <p>(b)	Maua Horticultural Ltd. runs a flower export business. The company has two sources of funds at different interest rates. The finance cost for short-term funds is 20% while the cost of long-term funds is 25%. These costs are expected to remain constant in the next two years.</p>
            <p>The following are the projected monthly working capital requirements of the company for the year ending 31 December 2020:</p>
            <table>
                <tr>
                    <th>Month</th>
                    <th><strong>Working capital required (Sh."000")</strong></th>
                </tr>
                <tr>
                    <td>January</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td>March</td>
                    <td>52,000</td>
                </tr>
                <tr>
                    <td>April</td>
                    <td>70,000</td>
                </tr>
                <tr>
                    <td>May</td>
                    <td>105,000</td>
                </tr>
                <tr>
                    <td>June</td>
                    <td>157,000</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>210,000</td>
                </tr>
                <tr>
                    <td>August</td>
                    <td>242,000</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>157,000</td>
                </tr>
                <tr>
                    <td>October</td>
                    <td>87,500</td>
                </tr>
                <tr>
                    <td>November</td>
                    <td>70,000</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>52,500</td>
                </tr>
            </table>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>(i)	The average monthly permanent and seasonal working capital requirements for the company.	(6 marks)</li>
                <li>(ii)	Total cost of working capital finance for the company under an aggressive financing policy, conservative financing policy and matching financing policy.	(6 marks)</li>
                <li>(iii)	Advise the company on the appropriate working capital financing policy to adopt.		(2 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	Using a well labelled diagram, distinguish between "systematic risk" and "unsystematic risk".	(4 marks)</p>
            <p>(b)	An investor has presented the following information relating to forecasted returns of two securities, Y and Z together  with their respective probabilities:</p>
            <table>
                <tr>
                    <th></th>
                    <th colspan="2"><strong>Forecasted returns (%)</strong></th>
                </tr>
                <tr>
                    <td><strong>Probabilities (Pi)</strong></td>
                    <td><strong>Y</strong></td>
                    <td><strong>Z</strong></td>
                </tr>
                <tr>
                    <td>0.10</td>
                    <td>10</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>0.20</td>
                    <td>12</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>0.35</td>
                    <td>8</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>0.05</td>
                    <td>15</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>0.15</td>
                    <td>14</td>
                    <td>11</td>
                </tr>
                <tr>
                    <td>0.15</td>
                    <td>9</td>
                    <td>8</td>
                </tr>
            </table>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>(i)	The standard deviation of security Y and security Z returns.	(6 marks)</li>
                <li>(ii)	The relative risk of security Y and security Z.	(2 marks)</li>
                <li>(iii)	Advise the investor on which of the two securities to invest in.	(1 mark)</li>
            </ul>
            <p>(c)	Fairland Industries Ltd. has recently been listed on the securities exchange.</p>
            <p>The company has a policy of paying out a gradually increasing dividend per share over the past five years, as indicared below:</p>
            <table>
                <tr>
                    <th><strong>Year</strong></th>
                    <th><strong>Earnings per share (EPS)</strong></th>
                    <th><strong>Dividend per share (DPS)</strong></th>
                </tr>
                <tr>
                    <td>2014</td>
                    <td>118</td>
                    <td>5.0</td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>125</td>
                    <td>5.5</td>
                </tr>
                <tr>
                    <td>2016</td>
                    <td>146</td>
                    <td>6.0</td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>135</td>
                    <td>6.5</td>
                </tr>
                <tr>
                    <td>2018</td>
                    <td>160</td>
                    <td>7.3</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1.	The company has recently paid the dividends for the year ended 31 December 2018. The shares are therefore quoted ex-dividend.</li>
                <li>2.	The management is considering a change in the financing policy whereby greater financing will be provided from internally generated funds. This is expected to reduce the dividend per share to Sh.5 in the year ending 31 December 2019.</li>
                <li>3.	The growth rate in earnings per share (EPS) and dividend per share (DPS) is expected to increase to 14% per annum from the year ending 31 December 2019.</li>
                <li>4.	The company's shareholders require a minimum return on investment of 16%.</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>(i)	Using the dividend growth model, determine the market price per share (MPS) as at 31 December 2018 prior to the change in the financing policy.	(3 marks)</li>
                <li>(ii)	The market price per share (MPS) as at 31 December 2018 under the new financing policy. (2 marks)</li>
                <li>(iii)	The break-even growth rate in dividend per share (DPS) using the market price calculated in (c) (i) above.	(2 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        
        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	Islamic finance is considered as one of the fastest growing sub-sectors in the financial industry.</p>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>Describe three common financial products provided by Islamic finance institutions, citing how each product differs from that provided by non-Islamic financial institutions.	(6 marks)</li>
            </ul>
            <p>(b)	Riverside Ltd. requires Sh.4,500,000 to finance an upcoming project. The firm's existing share capital constitutes 120,000 ordinary shares whose current market price per share is Sh.100. The management of the company has proposed to raise funds through a rights offering at a discount rate of 25% on current share price.</p>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>(i)	The number of ordinary shares to be issued to raise the required capital.	(2 marks)</li>
                <li>(ii)	The number of rights required to subscribe for one new ordinary share.	(2 marks)</li>
                <li>(iii)	The theoretical ex-right market price per ordinary share.	(2 marks)</li>
            </ul>
            <p>(c)	A financial analyst has predicted the following returns on the securities of two companies, Coral Ltd. and Reef Ltd., operating in the same industry, during the financial year ending 31 December 2019 under different states of the economy.</p>
            <table>
                <tr>
                    <th><strong>State of economy</strong></th>
                    <th><strong>Probability</strong></th>
                    <th colspan="2"><strong>Forecasted return (%)</strong></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Coral Ltd.</strong></td>
                    <td><strong>Reef Ltd.</strong></td>
                </tr>
                <tr>
                    <td>Boom</td>
                    <td>0.20</td>
                    <td>16</td>
                    <td>14</td>
                </tr>
                <tr>
                    <td>Normal</td>
                    <td>0.60</td>
                    <td>12</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Recession</td>
                    <td>0.20</td>
                    <td>8</td>
                    <td>6</td>
                </tr>
            </table>
            <p>A prospective investor is considering investing Sh.500,000 in the shares of both firms. He wishes to invest Sh.300,000 in shares of Coral Ltd. and the balance in the shares of Reef Ltd. The prospective investor feels that his 2 — asset portfolio wilt not only guarantee him his required return but will assist him to eliminate diversifiable risks.</p>
            <p><strong>Required:</strong></p>
            <p>On the basis of 2 - asset portfolio, determine:</p>
            <ul style="list-style: none;">
                <li>(i)	Portfolio's expected rate of return.	(3 marks)</li>
                <li>(ii)	Portfolio's actual risk using the mathematical model.		(5 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	The concept of interest rate capping has generated considerable interest from players in both public and private sectors, particularly in developing economies.</p>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>(i)	Describe the link between interest rates and availability of credit to small and medium size enterprises (SMEs).	(2 marks)</li>
                <li>(ii)	Citing three reasons, summarise the case for and against interest rate capping in an economy.	(6 marks) </li>
            </ul>
            <p>(b)	With reference to valuation of securities, explain the distinctive features of the following valuations:</p>
            <ul style="list-style: none;">
                <li>(i)	Conversion value.	(2 marks)</li>
                <li>(ii)	Liquidation value.	(2 marks)</li>
                <li>(iii)	Market value.	(2 marks)</li>
            </ul>
            <p>Virgin Industries had issued 72 million ordinary shares as at 31 March 2019. The company had maintained an annualdividend payment of Sh.l 80 million including for the year ended 31 March 2019.</p>
            <p>On 3 April 2019, the management of the company was awarded a four year tender that would cost Sh.720 million. The directors decided to finance the tender by issuance of ordinary shares at par.</p>
            <p>The return on investment (ROI) was expected to be 25% per annum on the cost over the next four years ending 31 March 2023.</p>
            <p>All earnings would continue to be paid out as dividends to the shareholders. </p>
            <p>The cost of capital is 20%.</p>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>(i) The value of an ordinary share as at 31 March 2019.	(2 marks)</li>
                <li>The value of the company as at 3 April 2019 assuming that the management made a decision to undertake the investment.	(4 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>  
        
        <div class="three">
            <h5>Question Six</h5>
            <p>(a)</p>
            <ul style="list-style: none;">
                <li>(i)	Describe six powers and duties of the Company Secretary of a company.	(6 marks)</li>
                <li>Summarise four breaches and omissions of duty by a Company Secretary which might lead to being penalised.	(4 marks)</li>
            </ul>
            <p>(b)</p>
            <ul style="list-style: none;">
                <li>(i)	Outline four changes that a_foreign company must give notice of	(4 marks)</li>
                <li>(ii)	The foreign companies' regulations may provide for the registration of specified charges over property. Summarise three provisions that might be contained in the above regulations.	(6 marks)</li>
            </ul>       
                <!-- Answer button start 
                    <div class="clk2">
                        <div></div>
                        <div>
                            <a href="#"><div class="clk">View Answer</div></a>
                        </div>
                        <div></div>
                    </div>
                -->
                <!-- Answer button end -->
            </div> 
            
            <div class="three">
                <h5>Question Seven</h5>
                <p>(a)	With reference to liquidation of companies:</p>
                <ul style="list-style: none;">
                    <li>(i)	Outline two powers of the Liquidator exercisable with the sanction of the court.	(2 marks)</li>
                    <li>(ii)	Highlight five grounds for compulsory liquidation by the Court.	(10 marks)</li>
                </ul>
                <p>(b)	Summarise four strategies that a company Might employ against hostile take-overs.	(8 marks) </p>  
                <!-- Answer button start 
                    <div class="clk2">
                        <div></div>
                        <div>
                            <a href="#"><div class="clk">View Answer</div></a>
                        </div>
                        <div></div>
                    </div>
                -->
                <!-- Answer button end -->
            </div> 
        </div>
        <div></div>
    </div>
    
    {% endblock content %}