{% extends "ans/base.html" %}
{% block content %}

<div class="one">
    <div></div>
    <div class="two">
        <h5 class="four">Financial Management Question Paper - May 2019</h5>
        <p><strong>Answer ALL questions. Marks allocated to each question are shown at the end of the question. Show ALL your workings.</strong></p>
        <div class="three">
            <h5>Question One</h5>
            <p>(a)	Explain the following dividend theories:</p>
            <ul style="list-style: none;">
                <li>(i)	Information signalling theory.	(2 marks)</li>
                <li>(ii)	Tax differential theory.	(2 marks)</li>
                <li>(iii)	Bird-in-hand theory.	(2 marks)</li>
                <li>(iv)	Agency theory.	(2 marks)</li>
            </ul>
            <p>(b)	Clare Mwatata is planning to invest ,in a long-term project. An investment banker has provided her with the following two investment options:</p>
            <p>Option 1:	To invest in a corporate bond selling at Sh.875. The bond would be redeemed after 5 years atSh.1,600.</p> 
            <p>Option 2:	To invest in a 16% debenture with a face value of Sh.100 quoted at Sh.95. The debenture would be redeemed after 5 years.</p>
            <p>The minimum required rate of return is 18%.</p>
            <p><strong>Required:</strong></p>
            <ul>
                <li>Using the yield to maturity (YTM) valuation model, advise Clare Mwatata in making the investment decision.(6 marks)</li>
            </ul> 
            <p>The company's credit manager is recommending a review of the credit policy of the company. The expected outcome of this action will be:</p>         
            <p>(c)	An investor holds 1,000 ordinary shares in Upendo Ltd., a company quoted at the securities exchange. The company has been paying average dividends of Sh.1.50 per share annually in recent years.</p>
            <p>The firm's dividends are expected to grow at a rate of 10% per annum in the coming three years, then grow at a rate of 8°/0 per annum over the next two years and thereafter grow at a constant rate of 5% per annum into perpetuity.</p>
            <p>The minimum required rate of return is 12%.</p>
            <p><strong>Required:</strong></p>
            <ul>
                <li>Using the discounted cash flow valuation method, determine the current value of the 1,000 ordinary shares of Upendo Ltd.	(6 marks)</li>
            </ul> 
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Two</h5>
            <p>(a)	Propose four reasons that might make a firm use reserves to finance its operations.	(4 marks)</p>
            <p>(b)</p>
            <ul style="list-style: none;">
                <li>The management of Amani Limited is considering listing at the securities exchange and intends to undertake valuation of its shares.</li>
                <p>The following information is provided:</p>
                <ul style="list-style: none;">
                    <li>1. The current earnings per share (EPS) of the firm is Sh.4.</li>
                    <li>2. The firm has in issue 10 million ordinary shares with a 40% dividend payout ratio.</li>
                    <li>3. The firm has an equity capital of Sh.200 million with a minimum required rate of return of 18%.</li>
                </ul>
                <p><strong>Required:</strong></p>
                <p>The current theoretical value of the firm's ordinary shares using dividend growth model.	(6 marks)</p>
                <li>XYZ Ltd. has a net tangible assets worth Sh.48 million and a return on assets (ROA) of 12%.</li>
                <p>The company expects to receive a profit of Sh. 10 million annually for the next 5 years. </p>
                <p>The company has 2 million outstanding ordinary shares.</p>
                <p><strong>Required:</strong></p>
                <ul style="list-style: none;">
                    <li>The theoretical value per share using the super-profit model. (4 marks)</li>
                </ul>
            </ul>
            <p>(c)	In an effort to lower its accounts receivable balances, Chizingo Manufacturing Limited is considering to switch from its existing no discount policy to a 2% cash discount for payment done by 15th day after sale.</p>
            <p>It is estimated that 60% of the customers would take the discount and the average collection period is expected to decline from 60 days to 45 days.</p>
            <p>The company's management projects an increase of 20,000 units in annual sales to 220,000 units at the existin2, price of Sh.2,500 per unit.</p>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1. The variable cost per unit is Sh.2, 100 and the average cost per unit is Sh.2,300.</li>
                <li>2.	The company requires a 15% return on investment (R01).</li>
                <li>3.	The corporate tax rate is 30%.</li>
                <li>4.	All sales are on credit basis. </li>
                <li>5. Assume 365 days in a year.</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>Advise the management of Chizingo Manufacturing Limited on whether to offer the cash discount to customers. (6 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        <div class="three">
            <h5>Question Three</h5>
            <p>(a)	The capital structure of Maweni Limited is given as follows:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh. "000"</strong></th>
                </tr>
                <tr>
                    <td>Ordinary share capital (Sh.20 par value)</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>Retained earnings</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>12% irredeemable debenture capital (Sh.20 par value)</td>
                    <td>25,000</td>
                </tr>
                <tr>
                    <td>14% preference share capital (Sh.25 par value)</td>
                    <td>15,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td>120,000</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1.	The current market price of the firm's ordinary shares is quoted at Sh.45 cum-dividend</li>
                <li>2.	The firm paid a dividend of Sh.5 per share in the just ended year.</li>
                <li>3.	The firm adopts a 60% dividend payout ratio.</li>
                <li>4.	The firm's return on equity (ROE) is 20%.</li>
                <li>5.	The existing 12% irredeemable debenture is currently trading at Sh.112 cum-interest.</li>
                <li>6.	The 14% preference shares are currently trading at Sh.33.50 cum-dividend at the securities exchange.</li>
                <li>7.	The corporate tax rate applicable is 30%.</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>(i)	The cost of ordinary share capital.	(3 marks)</li>
                <li>(ii)	The cost of 12% irredeemable debenture capital.	(2 marks)</li>
                <li>(iii)	The cost of 14% irredeemable preference share capital.	(2 marks)</li>
                <li>(iv)	The firm's weighted average cost of capital (WACC).	(5 marks)</li>
            </ul>
            <p>(b)	The following is a summary of financial data for Hakika Ltd. for the financial year ended 31 ecember 2017 and 31 December 2018:</p>
            <table>
                <tr>
                    <th><strong></strong></th>
                    <th><strong>2018<br>Sh."000"</strong></th>
                    <th><strong>2017 <br>Sh."000"</strong></th>
                </tr>
                <tr>
                    <td></td>
                    <td><strong>2018</strong></td>
                    <td><strong>2017</strong></td>
                </tr>
                <tr>
                    <td><strong>Income statement:</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Earnings before interest and tax (EBIT)</td>
                    <td>29,498</td>
                    <td>27,012</td>
                </tr>
                <tr>
                    <td>Interest</td>
                    <td>(3,106)</td>
                    <td>(3,726)</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>(8,694)</td>
                    <td>(7,452)</td>
                </tr>
                <tr>
                    <td>Earnings after interest and tax (FAIT)</td>
                    <td>17,698</td>
                    <td>15,834</td>
                </tr>
                <tr>
                    <td>Dividend payable</td>
                    <td>9,600</td>
                    <td>6,200</td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <table>
                <tr>
                    <th><strong></strong></th>
                    <th><strong>2018<br>Sh."000"</strong></th>
                    <th><strong>2017 <br>Sh."000"</strong></th>
                </tr>
                
                <tr>
                    <td><strong>Statement of financial position:</strong></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Shareholders' funds</td>
                    <td>79,800</td>
                    <td>70,174</td>
                </tr>
                <tr>
                    <td>Long-term debt</td>
                    <td>28,000</td>
                    <td>35,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td>107,800</td>
                    <td>105,174</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <table>
                <tr>
                    <th><strong></strong></th>
                    <th><strong>2018<br>Sh."000"</strong></th>
                    <th><strong>2017 <br>Sh."000"</strong></th>
                </tr>
                
                <tr>
                    <td>1.	The number of outstanding shares ("000")</td>
                    <td>28,000</td>
                    <td>28,000</td>
                </tr>
                <tr>
                    <td>2.	Price-earnings (P/E) ratio</td>
                    <td>14.00</td>
                    <td>13.00</td>
                </tr>
                <tr>
                    <td>3. Industry</td>
                    <td>15.20</td>
                    <td>15.00</td>
                </tr>
            </table>
            <p><strong>Required:</strong></p>
            <p>Calculate the following ratios for years 2017 and 2018:</p>
            <ul style="list-style: none;">
                <li>(i)	Return on capital employed (ROCE).	(2 marks)</li>
                <li>(ii)	Interest coverage ratio.	(2 marks)</li>
                <li>(iii)	Earnings per Share (EPS).	(2 marks)</li>
                <li>(iv)	Dividend yield.		(2 marks) </li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>
        
        <div class="three">
            <h5>Question Four</h5>
            <p>(a)	Credit card finance has become popular in the recent past compared to usage of cash to effect commercial transactions.</p>
            <p><strong>Required:</strong></p>
            <p>With reference to the above statement;</p>
            <ul style="list-style: none;">
                <li>(i)	Highlight four reasons behind the fast growth, of credit card finance in your country.	(4 marks)</li>
                <li>(ii)	Evaluate four limitations of using credit cards as a source of finance.	(4 marks)</li>
            </ul>
            <p>(b)	Juhudi Industries intends to replace an existing machine with a new one which is more efficient. The existing machine was acquired 2 years ago at a cost of Sh.4 million. The useful life of this machine was originally expected to be 5 years with no salvage value. However, the valuer has now estimated that the machine shall have an economic useful life of 10 more years and a salvage value of Sh.500,000.</p>
            <p>The new machine is estimated to cost Sh. 8 million. An additional installation cost of Sh.400,000 sCiti be incurred.  The new machine has a useful economic life of 10 years. The financial analyst of the company estimates that the existing machine could be sold for Sh.2.5 million at the current prevailing market price.</p>
            <p>The new machine is expected to increase sales whereby debtors would increase b	1.320,000, inventory by  Sh.140,000 while creditors would increase by Sh.300,000.</p>
            <p>The profit before depreciation and tax over the next 10 years for the two machines is given as follows: </p>
            <table>
                <tr>
                    <th><strong>Year</strong></th>
                    <th><strong>New machine	<br>Sh."000"</strong></th>
                    <th><strong>Existing machine <br>Sh."000"</strong></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>350</td>
                    <td>280</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>400</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>420</td>
                    <td>320</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>410</td>
                    <td>340</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>410</td>
                    <td>340</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>380</td>
                    <td>320</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>380</td>
                    <td>310</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>350</td>
                    <td>280</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>300</td>
                    <td>260</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>280</td>
                    <td>240</td>
                </tr>
            </table>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1. The company's required cost of capital is 10%.</li>
                <li>2.	Corporate tax rate is at 30%.</li>
                <li>3.	The company uses a straight-line method of depreciation.</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>Using the net present value (NPV) method, advise the management of Juhudi Industries on whether to replace the existing machine with the new one.	(12 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div> 
        <div class="three">
            <h5>Question Five</h5>
            <p>(a)	Summarise four main features of Islamic insurance mortgage (takaful).	(4 marks)</p>
            <p>(b)	The capital structure of Karakara Limited which is considered optimal is given as follows:</p>
            <table>
                <tr>
                    <th></th>
                    <th><strong>Sh. "000"</strong></th>
                </tr>
                <tr>
                    <td>Ordinary share capital (Sh.10 par value)</td>
                    <td>90,000</td>
                </tr>
                <tr>
                    <td>Retained earnings</td>
                    <td>75,000</td>
                </tr>
                <tr>
                    <td>15% preference share capital (Sh.100 par value)</td>
                    <td>45,000</td>
                </tr>
                <tr>
                    <td>16% debenture capital</td>
                    <td>90,000</td>
                </tr>
                <tr>
                    <td></td>
                    <td>300,000</td>
                </tr>
            </table>
            <p>The company has total assets amounting to Sh. 360 million but it is expected the assets will rise to Sh.500 million by the end of the current financial year.</p>
            <p><strong>Additional information:</strong></p>
            <ul style="list-style: none;">
                <li>1. New equity shares sold will net 90% after floatation costs.</li>
                <li>2. The current market price per share (MPS) of the ordinary shares is Sh.25.</li>
                <li>3.	New ordinary shares will be issued at the current market price subject to a floatation cost of 10% of the issue price.</li>
                <li>4.	New 16% debentures can be issued at par through the securities exchange.</li>
                <li>5.	The past and expected earnings growth rate is 10%. Dividend growth rate is expected to be matched with the earnings growth rate.</li>
                <li>6.	The current earnings yield is 24%.</li>
                <li>7.	The company adopts a constant dividend payout ratio of 50%.</li>
                <li>8.	New 15% preference shares can be issued at the current selling price of Sh. l20 each.</li>
                <li>9.	The retained earnings available for investment purposes is Sh.29,700,000.</li>
                <li>10.	The corporate tax rate is 30%.</li>
            </ul>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>The number of ordinary shares that must be sold in order to raise the required equity capital.	(6 marks)</li>
            </ul>
            <p>(c)	(i)Explain the term -abandonment- as used in capital budgeting decisions.	(2 marks)</p>
            <p>(ii)	lalakumi Agribusiness Ltd. is analysing a youth empowerment project. The following information is provided:</p>
            <table>
                <tr>
                    <th><strong>Year</strong></th>
                    <th><strong>Cash Flow <br>(Sh. "million") </strong></th>
                    <th><strong>Abandonment value <br>(Sh. "million") </strong></th>
                </tr>
                <tr>
                    <td>0</td>
                    <td>(16)</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>8</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>6</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>4</td>
                    <td>-</td>
                </tr>
            </table>
            <p>The company's cost of capital is 10%.</p>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>Advise the management of Palakumi Agribusiness Ltd. on the optimal time to abandon the project. (5 marks)</li>
            </ul>
            <p>(d)	Bidii Enterprises is a small medium enterprise (SME) in floriculture industry. The company intends to invest Sh.300.000 in a project that has a useful economic life of 4 years.</p>
            <p>The following are the expected cash flows:</p>
            <table>
                <tr>
                    <th><strong>Year</strong></th>
                    <th><strong>1</strong></th>
                    <th><strong>2</strong></th>
                    <th><strong>3</strong></th>
                    <th><strong>4</strong></th>
                </tr>
                <tr>
                    <td>Cash flows (Sh.)</td>
                    <td>140,000</td>
                    <td>120,000</td>
                    <td>80,000</td>
                    <td>60,000</td>
                </tr>
            </table>
            <p>The company's required rate of return is 14%.</p>
            <p><strong>Required:</strong></p>
            <ul style="list-style: none;">
                <li>The modified internal rate of return (MIRK) of the project.	(3 marks)</li>
            </ul>
            <!-- Answer button start 
                <div class="clk2">
                    <div></div>
                    <div>
                        <a href="#"><div class="clk">View Answer</div></a>
                    </div>
                    <div></div>
                </div>
            -->
            <!-- Answer button end -->
        </div>  
        <!-- Answer button start 
            <div class="clk2">
                <div></div>
                <div>
                    <a href="#"><div class="clk">View Answer</div></a>
                </div>
                <div></div>
            </div>
        -->
        <!-- Answer button end -->
    </div> 
    
    
</div>
<div></div>
</div>

{% endblock content %}