{% extends "ans/base.html" %}
{% block content %}

<div class="six">
    <div></div>
    <div class="seven">
      <h5 class="four mby">Financial Management</h5>
      <div class="lks">
        <p><a href="{% url 'financialmanagement2019_November' %}">2019 November Financial Management Questions and Answers</a></p>
        <p><a href="{% url 'financialmanagement2019_May' %}">2019 May Financial Management Questions and Answers</a></p>
        <p><a href="{% url 'financialmanagement2018_November' %}">2018 November Financial Management Questions and Answers</a></p>
      </div>
    </div>
    <div></div>
  </div>
{% endblock content %}